<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Thêm hoặc Cập Nhật Nhân Viên</title>
    <script src="https://esgoo.net/scripts/jquery.js"></script>
    <script>
        function confirmSubmission() {
            return confirm('Bạn có chắc chắn muốn thêm/cập nhật nhân viên này không?');
        }
    </script>
    <script>
        $(document).ready(function () {
            function getProvinces() {
                $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (response) {
                    if (response.error === 0) {
                        $("#province").append('<option value="">Chọn Thành Phố</option>');
                        $.each(response.data, function (key, value) {
                            $("#province").append('<option value="' + value.id + '">' + value.full_name + '</option>');
                        });
                    } else {
                        console.error('Error fetching provinces:', response.message);
                    }
                });
            }

            function getDistricts(provinceId) {
                $.getJSON('https://esgoo.net/api-tinhthanh/2/' + provinceId + '.htm', function (response) {
                    if (response.error === 0) {
                        $("#district").html('<option value="">Chọn Huyện</option>');
                        $("#ward").html('<option value="">Chọn Xã</option>');
                        $.each(response.data, function (key, value) {
                            $("#district").append('<option value="' + value.id + '">' + value.full_name + '</option>');
                        });
                    } else {
                        console.error('Error fetching districts:', response.message);
                    }
                });
            }

            function getWards(districtId) {
                $.getJSON('https://esgoo.net/api-tinhthanh/3/' + districtId + '.htm', function (response) {
                    if (response.error === 0) {
                        $("#ward").html('<option value="">Chọn Xã</option>');
                        $.each(response.data, function (key, value) {
                            $("#ward").append('<option value="' + value.id + '">' + value.full_name + '</option>');
                        });
                    } else {
                        console.error('Error fetching wards:', response.message);
                    }
                });
            }

            getProvinces();

            $("#province").on('change', function () {
                const provinceId = $(this).val();
                const provinceName = $("#province option:selected").text();
                if (provinceId) {
                    getDistricts(provinceId);
                    $("#provinceName").val(provinceName);
                } else {
                    $("#district").html('<option value="">Chọn Huyện</option>');
                    $("#ward").html('<option value="">Chọn Xã</option>');
                    $("#provinceName").val('');
                }
            });

            $("#district").on('change', function () {
                const districtId = $(this).val();
                const districtName = $("#district option:selected").text();
                if (districtId) {
                    getWards(districtId);
                    $("#districtName").val(districtName);
                } else {
                    $("#ward").html('<option value="">Chọn Xã</option>');
                    $("#districtName").val('');
                }
            });

            $("#ward").on('change', function () {
                const wardId = $(this).val();
                const wardName = $("#ward option:selected").text();
                $("#wardName").val(wardName);
            });
        });

    </script>

</head>
<body>
<div layout:fragment="admincontent">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white"
            th:text="${nhanVien.nhanVienId == null} ? 'Thêm Nhân Viên' : 'Cập Nhật Nhân Viên'">
        </h2>
    </div>
    <section class="relative md:py-10 bg-white px-25">
        <div class="grid lg:grid-cols-12 gap-6 w-full">
            <div class="lg:col-span-8">
                <div class="p-6 rounded-md">
                    <form th:action="@{/admin/taikhoan/nhanvien/save}" th:object="${nhanVien}" method="post" onsubmit="return confirmSubmission()">
                        <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
                            <input type="hidden" th:field="*{nhanVienId}"/>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Tên Nhân Viên: </label>
                                <input type="text" th:field="*{hoTen}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Tên Nhân Viên">
                                <div th:if="${#fields.hasErrors('hoTen')}" th:errors="*{hoTen}" class="text-red-500 text-sm"></div>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Số Điện Thoại:</label>
                                <input type="number" th:field="*{sdt}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Số Điện Thoại">
                                <div th:if="${#fields.hasErrors('sdt')}" th:errors="*{sdt}" class="text-red-500 text-sm"></div>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Email: </label>
                                <input type="email" th:field="*{email}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Email">
                                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-500 text-sm"></div>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Ngày Sinh: </label>
                                <input type="date" th:field="*{ngaySinh}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Ngày Sinh">
                                <div th:if="${#fields.hasErrors('ngaySinh')}" th:errors="*{ngaySinh}" class="text-red-500 text-sm"></div>
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-medium block text-gray-700">Giới tính</label>
                                <div class="mt-1 flex items-center space-x-4 px-3 py-2 border border-gray-300 rounded-md shadow-sm">
                                    <label class="inline-flex items-center">
                                        <input type="radio" th:field="*{gioiTinh}" value="false"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Nữ</span>
                                    </label>
                                    <label class="inline-flex items-center ml-4">
                                        <input type="radio" th:field="*{gioiTinh}" value="true"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Nam</span>
                                    </label>
                                </div>
                                <div th:if="${#fields.hasErrors('gioiTinh')}" th:errors="*{gioiTinh}" class="text-red-500 text-sm"></div>
                            </div>
                            <div class="lg:col-span-4">
                                <label class="font-semibold">Thành Phố:</label>
                                <select id="province"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                </select>
                                <input type="hidden" id="provinceName" name="thanhPho">
                                <div th:if="${#fields.hasErrors('thanhPho')}" th:errors="*{thanhPho}" class="text-red-500 text-sm"></div>
                            </div>
                            <div class="lg:col-span-4">
                                <label class="font-semibold">Huyện:</label>
                                <select id="district"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option value="">Chọn Huyện</option>
                                </select>
                                <input type="hidden" id="districtName" name="huyen">
                                <div th:if="${#fields.hasErrors('huyen')}" th:errors="*{huyen}" class="text-red-500 text-sm"></div>
                            </div>
                            <div class="lg:col-span-4">
                                <label class="font-semibold">Xã:</label>
                                <select id="ward"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option value="">Chọn Xã</option>
                                </select>
                                <input type="hidden" id="wardName" name="xa">
                                <div th:if="${#fields.hasErrors('xa')}" th:errors="*{xa}" class="text-red-500 text-sm"></div>
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-semibold">Địa Chỉ: </label>
                                <input type="text" th:field="*{diaChi}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Địa Chỉ">
                                <div th:if="${#fields.hasErrors('diaChi')}" th:errors="*{diaChi}" class="text-red-500 text-sm"></div>
                            </div>
                        </div>
                        <div class="mt-10 mb-10 flex justify-center space-x-4">
                            <a th:href="@{/admin/taikhoan/nhanvien}"
                               class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800 mr-2">
                                Quay lại
                            </a>
                            <button type="submit"
                                    class="btn btn-sm bg-sky-50 hover:bg-sky-100 active:bg-sky-200 text-sky-800 mr-2">
                                <span th:text="${nhanVien.nhanVienId == null} ? 'Thêm Mới' : 'Cập Nhật'"></span>
                            </button>
                            <a th:href="@{/admin/taikhoan/nhanvien/form}"
                               class="btn btn-sm bg-orange-50 hover:bg-orange-100 active:bg-orange-200 text-orange-600">
                                Xóa
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
