<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Mũi giày</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0/dist/sweetalert2.min.js"></script>
</head>
<body>
<div layout:fragment="admincontent">
    <div class="page-container relative h-full flex flex-auto flex-col px-4 sm:px-6 md:px-8 py-4 sm:py-6">
        <div class="container mx-auto">
            <div class="mb-6">
                <h2 class="text-title-md2 font-semibold text-black dark:text-white">
                    Mũi Giầy
                </h2>
            </div>
            <div class="xl:flex gap-4">
                <div class="w-full">
                    <div class="card adaptable-card">
                        <div class="border-b flex flex-col gap-5 sm:flex-row sm:items-center border-stroke py-4 px-4">
                            <label>
                                <input type="text" id="search"
                                       class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                                       placeholder="Search...">
                            </label>
                            <div class="sticky">
                                <label>
                                    <select id="sanPhamFilter" name="trangThai"
                                            class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary">
                                        <option value="">Trạng Thái</option>
                                        <option value="Hoạt Động">Hoạt Động</option>
                                        <option value="Ngừng Hoạt Động">Ngừng Hoạt Động</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="DataTableAll">
                                <table id="data-table-sp" class="table-default table-hover data-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên Mũi Giầy</th>
                                        <th>Mô Tả</th>
                                        <th>Trạng Thái</th>
                                        <th>Hành Động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="mg, rowStat : ${muiGiayList}">
                                        <td th:text="${rowStat.index + 1}"></td>
                                        <td th:text="${mg.ten}"></td>
                                        <td th:text="${mg.moTa}"></td>
                                        <td>
                                            <button th:class="${!mg.trangThai ? 'btn btn-sm bg-orange-50 text-orange-600' : 'btn btn-sm bg-emerald-50 text-emerald-600'}">
                                                <span th:text="${!mg.trangThai ? 'Ngừng Hoạt Động' : 'Hoạt Động'}"></span>
                                            </button>
                                        </td>
                                        <td class="flex items-center justify-center space-x-2">
                                            <a th:href="@{/admin/sanpham/muigiay/delete/{id}(id=${mg.muiGiayId})}">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                                     class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
                                                </svg>
                                            </a>
                                            <a th:href="@{/admin/sanpham/muigiay/detail/{id}(id=${mg.muiGiayId})}">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                                     class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path>
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xl:max-w-[360px] w-full">
                    <div class="card card-layout-frame" role="presentation">
                        <div class="card-body">
                            <h5 class="mb-4 text-center justify-center">Mũi Giầy</h5>
                            <form id="muiGiayForm" th:action="@{/admin/sanpham/muigiay/save}" method="post" class="p-6"
                                  th:object="${muiGiay}">
                                <input type="hidden" th:field="*{muiGiayId}"/>
                                <div class="mb-3 mt-3">
                                    <label class="form-label font-medium block text-gray-700">Tên Mũi Giầy</label>
                                    <input type="text" id="tenMuiGiay" th:field="*{ten}"
                                           class="form-control mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label font-medium block text-gray-700">Mô Tả</label>
                                    <input type="text" th:field="*{moTa}"
                                           class="form-control mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label font-medium block text-gray-700">Trạng Thái</label>
                                    <div class="mt-1 flex items-center space-x-4 px-3 py-2 border border-gray-300 rounded-md shadow-sm">
                                        <label class="inline-flex items-center">
                                            <input type="radio" th:field="*{trangThai}" value="true"
                                                   class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                            <span class="ml-2">Hoạt Động</span>
                                        </label>
                                        <label class="inline-flex items-center ml-4"
                                               th:if="${muiGiay.muiGiayId} != null">
                                            <input type="radio" th:field="*{trangThai}" value="false"
                                                   class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                            <span class="ml-2">Ngừng Hoạt Động</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="space-x-2 flex justify-center items-center">
                                    <button type="submit" id="submitBtn"
                                            class="btn btn-sm bg-sky-50 hover:bg-sky-100 active:bg-sky-200 text-sky-800">
                                        <span th:text="${muiGiay.muiGiayId == null} ? 'Thêm' : 'Cập Nhập'"></span>
                                    </button>
                                    <a th:href="@{/admin/sanpham/muigiay}"
                                       class="btn btn-sm bg-orange-50 hover:bg-orange-100 active:bg-orange-200 text-orange-600">
                                        Xóa
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#muiGiayForm').on('submit', function (event) {
                var tenMuiGiay = $('#tenMuiGiay').val().trim();
                var moTa = $('input[name="moTa"]').val().trim();

                if (!tenMuiGiay) {
                    event.preventDefault(); // Ngăn chặn form submit
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Tên mũi giày không được để trống.',
                    });
                    return;
                }

                if (tenMuiGiay.length > 100) {
                    event.preventDefault(); // Ngăn chặn form submit
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Tên mũi giày không được vượt quá 100 kí tự.',
                    });
                    return;
                }

                if (moTa.length > 3000) {
                    event.preventDefault(); // Ngăn chặn form submit
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Mô tả không được vượt quá 3000 kí tự.',
                    });
                    return;
                }

                var muiGiayId = $('#muiGiayId').val();

                if (muiGiayId) {
                    $.ajax({
                        url: `/check/update-mg?id=${muiGiayId}&ten=${tenMuiGiay}`,
                        method: 'GET',
                        async: false, // Để chặn form submit cho đến khi nhận được phản hồi
                        success: function (response) {
                            if (response) {
                                event.preventDefault(); // Ngăn chặn form submit nếu tên đã tồn tại
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi',
                                    text: 'Tên này đã tồn tại. Vui lòng chọn tên khác.',
                                });
                            }
                        }
                    });
                } else {
                    $.ajax({
                        url: `/check/add-mg?ten=${tenMuiGiay}`,
                        method: 'GET',
                        async: false, // Để chặn form submit cho đến khi nhận được phản hồi
                        success: function (response) {
                            if (response) {
                                event.preventDefault(); // Ngăn chặn form submit nếu tên đã tồn tại
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi',
                                    text: 'Tên này đã tồn tại. Vui lòng chọn tên khác.',
                                }).then(function () {
                                    $('#muiGiayForm')[0].reset();
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
</div>
</body>
</html>