<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Form giày</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0/dist/sweetalert2.min.js"></script>
</head>
<body>
<div layout:fragment="admincontent">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white"
            th:text="${sanPham.sanPhamId == null} ? 'Thêm Giầy' : 'Cập Nhập Giầy'">
        </h2>
    </div>
    <section class="relative md:py-10 bg-white px-25">
        <div class="grid lg:grid-cols-12 gap-6 w-full">
            <div class="lg:col-span-8">
                <div class="p-6 rounded-md">
                    <form id="sanPhamForm" th:action="@{/admin/sanpham/giay/save}" th:object="${sanPham}" method="post">
                        <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
                            <input type="hidden" th:field="*{sanPhamId}"/>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Tên Giầy: </label>
                                <input type="text" th:field="*{ten}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Tên Giầy">
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Thương Hiệu:</label>
                                <select th:field="*{thuongHieu}" name="thuongHieu"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="th : ${lstThuongHieu}" th:value="${th.thuongHieuId}" th:text="${th.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Chất Liệu:</label>
                                <select th:field="*{chatLieu}" name="chatLieu"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="cl : ${lstChatLieu}" th:value="${cl.chatLieuId}" th:text="${cl.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Cổ Giầy:</label>
                                <select th:field="*{coGiay}" name="coGiay"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="cg : ${lstCoGiay}" th:value="${cg.coGiayId}" th:text="${cg.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Dây Giầy:</label>
                                <select th:field="*{dayGiay}" name="dayGiay"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="dg : ${lstDayGiay}" th:value="${dg.dayGiayId}" th:text="${dg.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Đế Giầy:</label>
                                <select th:field="*{deGiay}" name="deGiay"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="dg : ${lstDeGiay}" th:value="${dg.deGiayId}" th:text="${dg.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Lót Giầy:</label>
                                <select th:field="*{lotGiay}" name="lotGiay"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="lg : ${lstLotGiay}" th:value="${lg.lotGiayId}" th:text="${lg.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Mũi Giầy:</label>
                                <select th:field="*{muiGiay}" name="muiGiay"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="mg : ${lstMuiGiay}" th:value="${mg.muiGiayId}" th:text="${mg.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-medium block text-gray-700">Trạng Thái</label>
                                <div class="mt-1 flex items-center space-x-4 px-3 py-2 border border-gray-300 rounded-md shadow-sm">
                                    <label class="inline-flex items-center">
                                        <input type="radio" th:field="*{trangThai}" value="true"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Hoạt Động</span>
                                    </label>
                                    <label class="inline-flex items-center ml-4" th:if="${sanPham.sanPhamId} != null">
                                        <input type="radio" th:field="*{trangThai}" value="false"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Ngừng Hoạt Động</span>
                                    </label>
                                </div>
                            </div>
                            <div class="lg:col-span-12">
                                <label class="font-semibold">Mô Tả: </label>
                                <textarea th:field="*{moTa}"
                                          class="w-full py-2 px-3 h-32 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                          placeholder="Mô Tả"></textarea>
                            </div>
                        </div>
                        <div class="mt-10 mb-10 flex justify-center space-x-4">
                            <a th:href="@{/admin/sanpham/giay}"
                               class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800 mr-2">
                                Quay lại
                            </a>
                            <button type="submit"
                                    class="btn btn-sm bg-sky-50 hover:bg-sky-100 active:bg-sky-200 text-sky-800 mr-2">
                                <span th:text="${sanPham.sanPhamId == null} ? 'Thêm Mới' : 'Cập Nhập'"></span>
                            </button>
                            <a th:href="@{/admin/sanpham/giay/form}"
                               class="btn btn-sm bg-orange-50 hover:bg-orange-100 active:bg-orange-200 text-orange-600">
                                Xóa
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $('#sanPhamForm').on('submit', function (event) {
                var tenSanPham = $('input[name="ten"]').val().trim();
                var chatLieuId = $('select[name="chatLieu"]').val();
                var coGiayId = $('select[name="coGiay"]').val();
                var dayGiayId = $('select[name="dayGiay"]').val();
                var deGiayId = $('select[name="deGiay"]').val();
                var lotGiayId = $('select[name="lotGiay"]').val();
                var muiGiayId = $('select[name="muiGiay"]').val();
                var thuongHieuId = $('select[name="thuongHieu"]').val();
                var sanPhamId = $('input[name="sanPhamId"]').val();
                var moTa = $('textarea[name="moTa"]').val().trim();

                if (!tenSanPham) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Tên sản phẩm không được để trống.',
                    });
                    return;
                }

                if (!thuongHieuId) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Thương hiệu đang trống. Vui lòng thêm một thương hiệu!',
                    });
                    return;
                }

                if (!chatLieuId) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Chất liệu đang trống. Vui lòng thêm một chất liệu!',
                    });
                    return;
                }

                if (!coGiayId) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Cổ giày đang trống. Vui lòng thêm một cổ giày!',
                    });
                    return;
                }

                if (!dayGiayId) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Dây giày đang trống. Vui lòng thêm một dây giày!',
                    });
                    return;
                }

                if (!deGiayId) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Đế giày đang trống. Vui lòng thêm một đế giày!',
                    });
                    return;
                }

                if (!lotGiayId) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Lót giày đang trống. Vui lòng thêm một lót giày!',
                    });
                    return;
                }

                if (!muiGiayId) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Mũi giày đang trống. Vui lòng thêm một mũi giày!',
                    });
                    return;
                }

                if (tenSanPham.length > 255) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Tên sản phẩm không được vượt quá 255 kí tự.',
                    });
                    return;
                }

                if (moTa.length > 255) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Lỗi',
                        text: 'Mô tả không được vượt quá 255 kí tự.',
                    });
                    return;
                }

                $.ajax({
                    url: '/check/addAndUpdate-sp',
                    method: 'GET',
                    data: {
                        ten: tenSanPham,
                        chatLieuId: chatLieuId,
                        coGiayId: coGiayId,
                        dayGiayId: dayGiayId,
                        deGiayId: deGiayId,
                        lotGiayId: lotGiayId,
                        muiGiayId: muiGiayId,
                        thuongHieuId: thuongHieuId,
                        id: sanPhamId
                    },
                    async: false,
                    success: function (response) {
                        if (response) {
                            event.preventDefault();
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi',
                                text: 'Tên sản phẩm này đã tồn tại với các thuộc tính bạn chọn. Vui lòng chọn tên hoặc thuộc tính khác.',
                            });
                        }
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>
