<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa hóa đơn</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const notificationTypeHtml = {
            Add: `<div class="toast fade" id="notificationToastSuccess">
                        <div class="notification">
                            <div class="notification-content">
                                <div class="mr-3">
                                    <span class="text-2xl text-emerald-400">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="mr-4">
                                    <div class="notification-title">Success</div>
                                    <div class="notification-description">
                                        Thêm sản phẩm thành công.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`,
            Info: `<div class="toast fade" id="notificationToastSuccess">
                        <div class="notification">
                            <div class="notification-content">
                                <div class="mr-3">
                                    <span class="text-2xl text-emerald-400">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="mr-4">
                                    <div class="notification-title">Info</div>
                                    <div class="notification-description">
                                        Số lượng sản phẩm trong kho không đủ.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`,
            StepUp: `<div class="toast fade" id="notificationToastSuccess">
                        <div class="notification">
                            <div class="notification-content">
                                <div class="mr-3">
                                    <span class="text-2xl text-emerald-400">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="mr-4">
                                    <div class="notification-title">Success</div>
                                    <div class="notification-description">
                                        Tăng số lượng sản phẩm thành công.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`,
            StepDown: `<div class="toast fade" id="notificationToastSuccess">
                        <div class="notification">
                            <div class="notification-content">
                                <div class="mr-3">
                                    <span class="text-2xl text-emerald-400">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="mr-4">
                                    <div class="notification-title">Success</div>
                                    <div class="notification-description">
                                        Giảm số lượng sản phẩm thành công.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`,
            Delete: `<div class="toast fade" id="notificationToastSuccess">
                        <div class="notification">
                            <div class="notification-content">
                                <div class="mr-3">
                                    <span class="text-2xl text-emerald-400">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="mr-4">
                                    <div class="notification-title">Success</div>
                                    <div class="notification-description">
                                        Xóa sản phẩm thành công.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`,
            Error: `<div class="toast fade" id="notificationToastSuccess">
                        <div class="notification">
                            <div class="notification-content">
                                <div class="mr-3">
                                    <span class="text-2xl text-emerald-400">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="mr-4">
                                    <div class="notification-title">Success</div>
                                    <div class="notification-description">
                                        Không thể xóa sản phẩm.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`,
        };

        function handleNotificationType(type) {
            $('#notification-toast').append(notificationTypeHtml[type])
            $('#notification-toast .toast:last-child').toast('show');
            setTimeout(function(){
                $('#notification-toast .toast:first-child').remove();
            }, 5000);
        }

        $(document).ready(function () {
            const add = JSON.parse([[${add}]]);
            if (add) {
                handleNotificationType('Add');
            }
        });

        $(document).ready(function () {
            const stepup = JSON.parse([[${stepup}]]);
            if (stepup) {
                handleNotificationType('StepUp');
            }
        });

        $(document).ready(function () {
            const stepdown = JSON.parse([[${stepdown}]]);
            if (stepdown) {
                handleNotificationType('StepDown');
            }
        });

        $(document).ready(function () {
            const deletes = JSON.parse([[${deletes}]]);
            if (deletes) {
                handleNotificationType('Delete');
            }
        });

        $(document).ready(function () {
            const info = JSON.parse([[${info}]]);
            if (info) {
                handleNotificationType('Info');
            }
        });

    </script>
</head>
<body>
<div layout:fragment="admincontent">
    <div class="container mx-auto">
        <div id="notification-toast" aria-live="polite" aria-atomic="true" class="position-relative"></div>
        <div class="mb-6">
            <div class="flex items-center justify-between mb-2">
                <h3>
                    <span>Chỉnh Sửa Hóa Đơn</span>
                    <span class="ltr:ml-2 rtl:mr-2 ml-2" th:text="${hoaDon.maVanDon}"></span>
                </h3>
                <div>
                    <a class="btn btn-sm bg-sky-50 hover:bg-sky-100 active:bg-sky-200 text-sky-800 mr-2"
                       th:href="@{/admin/hoadon/detail/{id}(id=${hoaDon.hoaDonId})}" type="submit">
                        Quay lại
                    </a>
                </div>
            </div>
        </div>
        <div class="xl:flex gap-4 mt-4">
            <div class="w-full">
                <div class="card adaptable-card">
                    <div class="card-body flex items-center justify-between">
                        <h3 class="mb-4">Thông Tin Sản Phẩm</h3>
                        <div class="flex">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#dialogSize"
                                    class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800 mr-2">
                                Thêm sản phẩm
                            </button>
                            <div class="modal fade" id="dialogSize" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog dialog md:max-w-[960px]">
                                    <div class="dialog-content">
                                        <label>
                                            <input type="text" id="search"
                                                   class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                                                   placeholder="Search...">
                                        </label>
                                        <div id="DataTableCart">
                                            <table id="data-table-cart" class="table-default table-hover data-table">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Màu sắc</th>
                                                    <th>Kích thước</th>
                                                    <th>Giá</th>
                                                    <th>Hành động</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="spct, rowStat : ${sanPhamChiTietList}">
                                                    <td th:text="${rowStat.index + 1}"></td>
                                                    <td th:text="${spct.getSanPham().getTen()}"></td>
                                                    <td th:text="${spct.getMauSac().getTen()}"></td>
                                                    <td th:text="${spct.getKichThuoc().getTen()}"></td>
                                                    <td th:text="${#numbers.formatDecimal(spct.getGiaBan(), 1, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                                                    <td>
                                                        <form th:action="@{/admin/hoadon/update}" method="post">
                                                            <input type="hidden" name="idHoaDon"
                                                                   th:value="${hoaDon.hoaDonId}"/>
                                                            <input type="hidden" name="idSanPhamChiTiet"
                                                                   th:value="${spct.getSanPhamChiTietId()}"/>
                                                            <button type="submit"
                                                                    class="btn btn-sm btn-select-product bg-sky-50 hover:bg-sky-100 text-sky-800">
                                                                Chọn
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="overflow-x-auto">
                            <table id="selected-products-table" class="table-default table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Màu sắc</th>
                                    <th>Kích thước</th>
                                    <th>Giá</th>
                                    <th>Số Lượng</th>
                                    <th>Tổng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="hdct : ${hoaDon.hoaDonChiTietList}">
                                    <td>
                                        <button type="button" data-bs-toggle="modal" data-bs-target="#xacnhan"
                                                class="btn btn-sm text-red-500 hover:text-red-700"
                                                th:attr="data-bs-toggle=${hoaDon.hoaDonChiTietList.size() >= 2 ? 'modal' : ''}">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                                 class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
                                            </svg>
                                        </button>
                                        <div class="modal fade" id="xacnhan" data-bs-backdrop="static"
                                             data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                                            <div class="modal-dialog dialog">
                                                <div class="dialog-confirm bg-white p-6 rounded-lg shadow-lg">
                                                    <form th:action="@{/admin/hoadon/delete}" method="post">
                                                        <h4 class="mb-4 text-center text-blue-600">Bạn chắc chắn muốn xóa sản phẩm này</h4>
                                                        <input type="hidden" name="hoaDonId"
                                                               th:value="${hoaDon.hoaDonId}"/>
                                                        <input type="hidden" name="hoaDonChiTietId"
                                                               th:value="${hdct.hoaDonChiTietId}"/>
                                                        <div class="text-right mt-6 flex justify-center">
                                                            <button type="button" data-bs-dismiss="modal"
                                                                    class="btn btn-sm bg-rose-50 hover:bg-orange-100 text-rose-600 mr-2">
                                                                Cancel
                                                            </button>
                                                            <button type="submit" data-bs-dismiss="modal"
                                                                    class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800">
                                                                Okay
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex items-center">
                                            <span class="avatar avatar-rounded avatar-lg" data-avatar-size="90">
                                                <img class="avatar-img avatar-rounded" th:src="'data:image/jpeg;base64,' + ${hdct.sanPhamChiTiet.base64Image}"
                                                     loading="lazy">
                                            </span>
                                            <div class="ml-4 text-center">
                                                <h6 th:text="${hdct.sanPhamChiTiet.sanPham.ten}"></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td th:text="${hdct.sanPhamChiTiet.mauSac.ten}"></td>
                                    <td th:text="${hdct.sanPhamChiTiet.kichThuoc.ten}"></td>
                                    <td>
                                        <span th:text="${#numbers.formatDecimal(hdct.sanPhamChiTiet.giaBan, 1, 'COMMA', 0, 'POINT')}"></span>
                                        VNĐ
                                    </td>
                                    <td>
                                        <div class="inline-flex items-center justify-center space-x-2">
                                            <form th:action="@{/admin/hoadon/update/stepdown}" method="post">
                                                <input type="hidden" name="hoaDonId"
                                                       th:value="${hoaDon.hoaDonId}"/>
                                                <input type="hidden" name="hoaDonChiTietId"
                                                       th:value="${hdct.hoaDonChiTietId}"/>
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                        class="size-9 tracking-wide align-middle text-base text-center rounded-md bg-orange-500/5 hover:bg-orange-500 text-orange-500 hover:text-white minus">
                                                    -
                                                </button>
                                            </form>
                                            <input min="0" name="quantity" th:value="${hdct.getSoLuong()}" type="number"
                                                   class="h-9 inline-flex items-center justify-center tracking-wide align-middle text-base text-center rounded-md bg-orange-500/5 hover:bg-orange-500 text-orange-500 hover:text-white pointer-events-none w-16 ps-4 quantity">
                                            <form th:action="@{/admin/hoadon/update/stepup}" method="post">
                                                <input type="hidden" name="hoaDonId"
                                                       th:value="${hoaDon.hoaDonId}"/>
                                                <input type="hidden" name="hoaDonChiTietId"
                                                       th:value="${hdct.hoaDonChiTietId}"/>
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                        class="size-9 tracking-wide align-middle text-base text-center rounded-md bg-orange-500/5 hover:bg-orange-500 text-orange-500 hover:text-white minus">
                                                    +
                                                </button>
                                            </form>
                                        </div>

                                    </td>
                                    <td>
                                        <span th:text="${#numbers.formatDecimal(hdct.soLuong * hdct.sanPhamChiTiet.giaBan, 1, 'COMMA', 0, 'POINT')}"></span>
                                        VNĐ
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td class="!border-t-0" colspan="5"></td>
                                    <td class="font-semibold !border-t-0">Tạm Tính</td>
                                    <td class="!py-5 !border-t-0">
                                        <span th:text="${#numbers.formatDecimal(#aggregates.sum(hoaDon.hoaDonChiTietList.![soLuong * sanPhamChiTiet.giaBan]), 1, 'COMMA', 0, 'POINT')}"></span>
                                        VNĐ
                                    </td>
                                </tr>
                                <tr>
                                    <td class="!border-t-0" colspan="5"></td>
                                    <td class="font-semibold !border-t-0">Phí ship</td>
                                    <td class="!py-5 !border-t-0">
                                        <span th:text="${hoaDon.phiShip != null ? #numbers.formatDecimal(hoaDon.phiShip, 1, 'COMMA', 0, 'POINT') + ' VNĐ' : '0 VNĐ'}"></span>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="!border-t-0" colspan="5"></td>
                                    <td class="font-semibold !border-t-0">Tiền giảm</td>
                                    <td class="!py-5 !border-t-0">
                                        <span th:text="${hoaDon.tienGiam != null ? #numbers.formatDecimal(hoaDon.tienGiam, 1, 'COMMA', 0, 'POINT') + ' VNĐ' : '0 VNĐ'}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="!border-t-0" colspan="5"></td>
                                    <td class="font-semibold text-base">Tổng tiền</td>
                                    <td class="font-semibold text-base !py-5">
                                        <span th:text="${#numbers.formatDecimal(hoaDon.tongTien, 1, 'COMMA', 0, 'POINT')}"></span>
                                        VNĐ
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>