<div class="tagline bg-slate-900">
    <div class="container relative">
        <div class="grid grid-cols-1">
            <div class="text-center">
                <h6 class="text-white font-medium">Refer a friend & get $50 in credits each 🎉</h6>
            </div>
        </div>
    </div>
</div>
<nav class="defaultscroll is-sticky tagline-height" id="topnav">
    <div class="container relative flex justify-center text-center">
        <a class="logo" href="#">
            <div>
                <img alt="" class="h-[50px] inline-block dark:hidden" src="/images/logo_xboy.png">
                <img alt="" class="h-[50px] hidden dark:inline-block" src="/images/logo_light.png">
<!--                <img alt="" class="h-[22px] inline-block dark:hidden" src="/images/logo-dark.png">-->
<!--                <img alt="" class="h-[22px] hidden dark:inline-block" src="/images/logo-light.png">-->
            </div>
        </a>
        <div id="navigation">
            <ul class="navigation-menu px-1">
                <li>
                    <a class="sub-menu-item" th:href="@{/home}">Home</a>
                </li>
                <li>
                    <a class="sub-menu-item" th:href="@{/shop}">Shop</a>
                </li>
                <li>
                    <a class="sub-menu-item" th:href="@{/blog}">Blog</a>
                </li>
                <li><a class="sub-menu-item" th:href="@{/about}">About Us</a></li>

                <li><a class="sub-menu-item" th:href="@{/contact}">Contact</a></li>
            </ul>
        </div>
        <ul class="buy-button list-none mb-0">
            <li class="dropdown inline-block relative ps-0.5">
                <button class="dropdown-toggle size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-orange-500 border border-orange-500 text-white"
                        data-dropdown-toggle="dropdown"
                        type="button">
                    <i class="h-4 w-4" data-feather="shopping-cart"></i>
                </button>
                <div class="dropdown-menu absolute -left-4 mt-4 z-10 w-100 rounded-md bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 hidden"
                     onclick="event.stopPropagation();">
                    <ul aria-labelledby="dropdownDefault" class="py-3 text-start">
                        <li :key="item.sanPhamId" class="flex items-center justify-between py-1.5 px-4"
                            v-for="item in cartStore.cart">
                                <span class="flex items-center">
                                    <img :alt="item.ten" class="w-9 h-9 rounded shadow"
                                         src="/images/shop/mens-jecket-3.jpg">
                                    <span class="ml-3">
                                        <span class="block font-semibold">{{ item.ten }}</span>
                                        <span class="block text-sm text-slate-400">{{ item.gia }} X {{ item.soLuong
                                            }}</span>
                                        <span class="block text-sm text-slate-400">Kích Thước: {{ item.kichThuoc }} ||
                                            Màu Sắc: {{ item.mauSac }}</span>
                                    </span>
                                </span>
                            <span class="font-semibold">{{ item.gia * item.soLuong }}</span>
                        </li>
                        <li class="border-t border-gray-100 dark:border-gray-800 my-2"></li>
                        <li class="flex items-center justify-between py-1.5 px-4">
                            <h6 class="font-semibold mb-0">Total($):</h6>
                            <h6 class="font-semibold mb-0">{{ subtotal }}</h6>
                        </li>
                        <li class="py-1.5 px-4">
                            <span class="text-center block">
                                <a class="py-[5px] px-4 inline-block font-semibold tracking-wide align-middle duration-500 text-sm text-center rounded-md bg-orange-500 border border-orange-500 text-white"
                                   href="javascript:void(0)">View Cart</a>
                                <a class="py-[5px] px-4 inline-block font-semibold tracking-wide align-middle duration-500 text-sm text-center rounded-md bg-orange-500 border border-orange-500 text-white"
                                   href="javascript:void(0)">Checkout</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="inline-block ps-0.5">
                <a class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-orange-500 text-white"
                   href="javascript:void(0)">
                    <i class="h-4 w-4" data-feather="heart"></i>
                </a>
            </li>

            <li class="dropdown inline-block relative ps-0.5">
                <button class="dropdown-toggle items-center" data-dropdown-toggle="dropdown" type="button">
                    <span class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-orange-500 bg-orange-500 text-white"><img
                            alt="" class="rounded-full" src="/images/client/16.jpg"></span>
                </button>
                <div class="dropdown-menu absolute end-0 m-0 mt-4 z-10 w-48 rounded-md overflow-hidden bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 hidden" onclick="event.stopPropagation();">
                    <ul class="py-2 text-start">
                        <li>
<!--                            <div sec:authorize="isAuthenticated()">-->
<!--                                &lt;!&ndash; Hiển thị thông tin người dùng &ndash;&gt;-->
<!--                                <h2>Xin chào, <span th:text="${khachHang.hoTen}">Khách hàng</span>!</h2>-->
<!--                            </div>-->
<!--                            <div sec:authorize="!isAuthenticated()">-->
<!--                                <p>Chào mừng bạn đến với trang chủ! <a href="/login">Đăng nhập</a> để xem thông tin cá nhân.</p>-->
<!--                            </div>-->
                        </li>
                        <li>
                            <p class="flex items-center font-medium py-2 px-4">
                                <i class="h-4 w-4 me-2" data-feather="dollar-sign"></i> Balance:
                                <span class="text-orange-500 ms-2">$ 245.10</span>
                            </p>
                        </li>
                        <li>
                            <a class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-orange-500 dark:hover:text-white" href="user-account.html">
                                <i class="h-4 w-4 me-2" data-feather="user"></i>Account
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-orange-500 dark:hover:text-white" href="helpcenter.html">
                                <i class="h-4 w-4 me-2" data-feather="help-circle"></i>Helpcenter
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-orange-500 dark:hover:text-white" href="user-setting.html">
                                <i class="h-4 w-4 me-2" data-feather="settings"></i>Settings
                            </a>
                        </li>
                        <li class="border-t border-gray-100 dark:border-gray-800 my-2"></li>
                        <li>
                            <div sec:authorize="isAuthenticated()">
                                <form th:action="@{/logout}" method="post" class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-orange-500 dark:hover:text-white">
                                    <button type="submit" class="flex items-center w-full text-left bg-transparent border-0 p-0 m-0">
                                        <i class="h-4 w-4 me-2" data-feather="log-out"></i> Đăng xuất
                                    </button>
                                </form>
<!--                            </div>-->

                        </li>
                    </ul>
                </div>


            </li>
        </ul>
    </div>
</nav>