<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/user/detail.js"></script>
    <script src="/js/admin/vendors.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <style>
        .swiper-slide img {
            width: 80%; /* Chiều rộng đầy đủ */
            height: 600px; /* Chiều cao cố định */
            object-fit: contain; /* Đảm bảo ảnh lấp đầy không gian mà không bị méo */
            border-radius: 8px; /* Tùy chọn: bo góc cho ảnh */
        }

    </style>
</head>
<body>
<div layout:fragment="usercontent">
    <div id="notification-toast" class="toast-wrapper top-end"></div>
    <section class="relative table w-full py-20 lg:py-24 md:pt-28 bg-gray-50 dark:bg-slate-800">
        <div class="container relative">
            <div class="grid grid-cols-1 mt-14">
                <h3 class="text-3xl leading-normal font-semibold">Shoe Detail</h3>
            </div>
            <div class="relative mt-3">
                <ul class="tracking-[0.5px] mb-0 inline-block">
                    <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out hover:text-orange-500">
                        <a href="#">XBoy</a></li>
                    <li class="inline-block text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180">
                        <i class="mdi mdi-chevron-right"></i></li>
                    <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out hover:text-orange-500">
                        <a href="#">Shop</a></li>
                    <li class="inline-block text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180">
                        <i class="mdi mdi-chevron-right"></i></li>
                    <li class="inline-block uppercase text-[13px] font-bold text-orange-500" aria-current="page">Shoe
                        Detail
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="relative md:py-24 py-16">
        <div class="container relative">
            <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 gap-6 items-center">
                <div class="lg:col-span-5">
                    <div class="tiny-single-item">
                        <div th:each="entry : ${productImg}">
                            <div class="swiper-container tiny-slide" style="width: 600px; height: 600px;">
                                <div class="swiper-wrapper">
                                    <div th:each="image : ${entry.value}" class="swiper-slide">
                                        <img th:src="${image}" alt="Product Image"/>
                                    </div>
                                </div>

                                <!-- Nút điều hướng Swiper -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>

                                <!-- Dấu chấm chỉ mục -->
                                <div class="swiper-pagination"></div>
                            </div>
</div>



                        </div>
                </div>
                <div class="lg:col-span-7">
                    <h5 class="text-2xl font-semibold" th:text="${sanPham.ten}"></h5>
                    <div class="mt-2 flex justify-between">
                        <input type="text" id="sanPhamId" class="hidden" th:value="${sanPham.sanPhamId}">
                        <div class="price-display">
                            <span id="product-price" class="text-slate-400 font-semibold me-1">0 VNĐ</span>
                        </div>

                    </div>
                    <div class="mt-4">
                        <h5 class="text-lg font-semibold">Overview :</h5>
                        <p class="text-slate-400 mt-2">Sản phẩm giày là phụ kiện thời trang quan trọng, kết hợp giữa thiết kế thẩm mỹ và sự thoải mái, đáp ứng nhu cầu di chuyển và phong cách cho mọi lứa tuổi,
                            với nhiều kiểu dáng, chất liệu và tính năng khác nhau phù hợp cho các hoạt động hàng ngày hoặc sự kiện đặc biệt.</p>

                        <ul class="list-none text-slate-400 mt-4">
                            <li class="mb-1 flex"><i
                                    class="mdi mdi-check-circle-outline text-orange-500 text-xl me-2"></i> Thiết kế độc đáo.
                            </li>
                            <li class="mb-1 flex"><i
                                    class="mdi mdi-check-circle-outline text-orange-500 text-xl me-2"></i>Ngoại hình bắt mắt.
                            </li>
                            <li class="mb-1 flex"><i
                                    class="mdi mdi-check-circle-outline text-orange-500 text-xl me-2"></i> Đem lại sự thoải mái cho người dùng.
                            </li>
                            <li class="mb-1 flex"><i
                                    class="mdi mdi-check-circle-outline text-orange-500 text-xl me-2"></i> Phong cách.
                            </li>
                        </ul>
                    </div>
                    <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 mt-4">
                        <div class="flex items-center">
                            <h5 class="text-lg font-semibold me-2">Size:</h5>
                            <div class="space-x-1">
                                <!-- Size buttons -->
                                <button th:each="chiTiet, index : ${uniqueSizes}"
                                        th:id="'size-' + ${chiTiet.kichThuocId}"
                                        th:text="${chiTiet.ten}"
                                        th:onclick="'selectSize(' + ${chiTiet.kichThuocId} + ')'"
                                        class="size-size inline-flex items-center justify-center tracking-wide align-middle text-base text-center border border-orange-500 rounded-md"
                                        th:classappend="${selectedSizeId == chiTiet.kichThuocId} ? 'bg-orange-500 text-white' : 'text-orange-500 hover:bg-orange-500 hover:text-white'">
                                </button>
                            </div>
                        </div>

                        <div class="flex items-center">
                            <h5 class="text-lg font-semibold me-2">Quantity:</h5>
                            <div class="qty-icons ms-3 space-x-0.5">
                                <button type="button"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                        class="size-9 inline-flex items-center justify-center tracking-wide align-middle text-base text-center rounded-md bg-orange-500/5 hover:bg-orange-500 text-orange-500 hover:text-white minus">
                                    -
                                </button>
                                <input min="1" name="soLuong" value="1" type="number"
                                       class="h-9 inline-flex items-center justify-center tracking-wide align-middle text-base text-center rounded-md bg-orange-500/5 hover:bg-orange-500 text-orange-500 hover:text-white pointer-events-auto w-20 ps-4 quantity">
                                <button type="button"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                        class="size-9 inline-flex items-center justify-center tracking-wide align-middle text-base text-center rounded-md bg-orange-500/5 hover:bg-orange-500 text-orange-500 hover:text-white plus">
                                    +
                                </button>
                            </div>
                        </div>

                        <div class="flex items-center">
                            <h5 class="text-lg font-semibold me-2">Colors:</h5>
                            <div class="space-x-2">
                                <!-- Color buttons -->
                                <button th:each="chiTiet, index : ${uniqueColors}"
                                        th:id="'color-' + ${chiTiet.mauSacId}"
                                        th:text="${chiTiet.ten}"
                                        th:onclick="'selectColor(' + ${chiTiet.mauSacId} + ')'"
                                        class="size-color inline-flex items-center justify-center tracking-wide align-middle text-base text-center border border-orange-500 rounded-md"
                                        th:classappend="${selectedColorId == chiTiet.mauSacId} ? 'bg-orange-500 text-white' : 'text-orange-500 hover:bg-orange-500 hover:text-white'">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 space-x-1">
                        <a href="/shop"
                           class="py-2 px-5 inline-block font-semibold tracking-wide align-middle text-base text-center bg-orange-500 text-white rounded-md mt-2">Shop
                            Now</a>
                        <button type="submit"
                                class="py-2 px-5 inline-block font-semibold tracking-wide align-middle text-base text-center rounded-md bg-orange-500 text-white hover:bg-orange-600 mt-2">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-12 grid-cols-1 mt-6 gap-6">
                <div class="lg:col-span-3 md:col-span-5">
                    <div class="sticky top-20">
                        <ul class="flex-column p-6 bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md"
                            id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                            <li role="presentation">
                                <button class="px-4 py-2 text-start text-base font-semibold rounded-md w-full hover:text-orange-500 duration-500"
                                        id="description-tab" data-tabs-target="#description" type="button" role="tab"
                                        aria-controls="description" aria-selected="true">Mô Tả Sản Phẩm
                                </button>
                            </li>
                            <li role="presentation">
                                <button class="px-4 py-2 text-start text-base font-semibold rounded-md w-full mt-3 duration-500"
                                        id="addinfo-tab" data-tabs-target="#addinfo" type="button" role="tab"
                                        aria-controls="addinfo" aria-selected="false">Chi Tiết Sản Phẩm
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="lg:col-span-9 md:col-span-7">
                    <div id="myTabContent"
                         class="p-6 bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md">
                        <div class="" id="description" role="tabpanel" aria-labelledby="profile-tab">
                            <p class="text-slate-400" th:text="${sanPham.moTa != null ? sanPham.moTa : 'Không có mô tả'}"></p>
                        </div>
                        <div class="hidden" id="addinfo" role="tabpanel" aria-labelledby="addinfo-tab">
                            <table class="w-full text-start">
                                <tbody>
                                <tr class="bg-white dark:bg-slate-900">
                                    <td class="font-semibold pb-4">Thương Hiệu</td>
                                    <td class="text-slate-400 pb-4" th:text="${sanPham.thuongHieu.ten}"></td>
                                </tr>
                                <tr class="bg-white dark:bg-slate-900 border-t border-gray-100 dark:border-gray-700">
                                    <td class="font-semibold py-4">Dây Giày</td>
                                    <td class="text-slate-400 py-4" th:text="${sanPham.dayGiay.ten}"></td>
                                </tr>
                                <tr class="bg-white dark:bg-slate-900 border-t border-gray-100 dark:border-gray-700">
                                    <td class="font-semibold pt-4 py-4">Lót Giầy</td>
                                    <td class="text-slate-400 pt-4 py-4" th:text="${sanPham.lotGiay.ten}"></td>
                                </tr>
                                <tr class="bg-white dark:bg-slate-900 border-t border-gray-100 dark:border-gray-700">
                                    <td class="font-semibold pt-4 py-4">Đế Giầy</td>
                                    <td class="text-slate-400 pt-4 py-4" th:text="${sanPham.deGiay.ten}"></td>
                                </tr>
                                <tr class="bg-white dark:bg-slate-900 border-t border-gray-100 dark:border-gray-700">
                                    <td class="font-semibold pt-4 py-4">Cổ Giày</td>
                                    <td class="text-slate-400 pt-4 py-4" th:text="${sanPham.coGiay.ten}"></td>
                                </tr>
                                <tr class="bg-white dark:bg-slate-900 border-t border-gray-100 dark:border-gray-700">
                                    <td class="font-semibold pt-4 py-4">Chất Liệu</td>
                                    <td class="text-slate-400 pt-4 py-4" th:text="${sanPham.chatLieu.ten}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end container-->

    </section>
</div>
<script>
    // Khởi tạo Swiper cho từng sản phẩm chi tiết
    document.querySelectorAll('.swiper-container').forEach(function(swiperContainer, index) {
        new Swiper(swiperContainer, {
            loop: true, // Cho phép lặp slide
            navigation: {
                nextEl: swiperContainer.querySelector('.swiper-button-next'),
                prevEl: swiperContainer.querySelector('.swiper-button-prev'),
            },
            pagination: {
                el: swiperContainer.querySelector('.swiper-pagination'),
                clickable: true,
            },
            autoplay: {
                delay: 3000, // Tự động chuyển slide sau 3 giây
                disableOnInteraction: false,
            },
        });
    });
</script>


</body>
</html>