<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo_xboy.png" type="image/png">
    <title>Phiếu giảm giá</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
<div layout:fragment="admincontent">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">
            Phiếu Giảm Giá
        </h2>
    </div>
    <div class="bg-white">
        <div class="flex items-center justify-between border-b border-stroke py-4 px-4">
            <div class="flex flex-wrap items-center gap-4">
                <label class="flex-grow">
                    <input class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary" id="search"
                           placeholder="Search..."
                           type="text">
                </label>
                <div class="flex-shrink-0">
                    <label>
                        <select class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary" id="loaiPhieuFilter"
                                name="loaiHoaDon">
                            <option>Loại Phiếu</option>
                            <option value="Tiền mặt">Tiền mặt</option>
                            <option value="Phần trăm">Phần trăm</option>
                        </select>
                    </label>
                </div>
                <div class="flex-shrink-0">
                    <label>
                        <select class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary" id="trangThaiPggFilter"
                                name="trangThai">
                            <option value="0">Trạng Thái</option>
                            <option value="Đang diễn ra">Đang diễn ra</option>
                            <option value="Sắp diễn ra">Sắp diễn ra</option>
                            <option value="Đã kết thúc">Đã kết thúc</option>
                        </select>
                    </label>
                </div>
                <span class="ml-4">From Date:</span>
                <label class="flex-grow">
                    <input class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary" id="fromDate"
                           placeholder="From date"
                           type="date">
                </label>
                <span>To Date:</span>
                <label class="flex-grow">
                    <input class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary" id="toDate"
                           placeholder="To date"
                           type="date">
                </label>
            </div>
            <div>
                <a class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800"
                   th:href="@{/admin/giamgia/form}">
                    Thêm phiếu giảm giá
                </a>
            </div>
        </div>

        <div class="px-4" id="DataTableAll">
            <table class="table-default table-hover data-table" id="data-table-pgg">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Mã Giảm Giá</th>
                    <th>Loại Phiếu</th>
                    <th>Giá Trị Giảm</th>
                    <th>Số Lượng</th>
                    <th>Đơn Tối Thiểu</th>
                    <th>Giảm Tối Đa</th>
                    <th>Ngày Bắt Đầu</th>
                    <th>Ngày Kết Thúc</th>
                    <th>Trạng Thái</th>
                    <th>Hành Động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pgg, rowStat : ${phieuGiamGiaList}">
                    <td th:text="${rowStat.index + 1}"></td>
                    <td th:text="${pgg.maGiamGia}"></td>
                    <td>
                        <button th:class="${pgg.loaiPhieu ? 'btn btn-sm bg-orange-50 text-orange-600' : 'btn btn-sm bg-emerald-50 text-emerald-600'}">
                            <span th:text="${pgg.loaiPhieu ? 'Phần trăm' : 'Tiền mặt'}"></span>
                        </button>
                    </td>
                    <td>
                        <span th:if="${pgg.loaiPhieu == false}"
                              th:text="${#numbers.formatDecimal(pgg.giaTriGiam, 1, 'COMMA', 0, 'POINT')} + ' VND'">
                        </span>
                        <span th:if="${pgg.loaiPhieu == true}"
                              th:text="${#numbers.formatDecimal(pgg.giaTriGiam, 1, 'COMMA', 0, 'POINT')} + ' %'">
                        </span>
                    </td>
                    <td th:text="${pgg.soLuongPhieu}"></td>
                    <td th:text="${#numbers.formatDecimal(pgg.giaTriDonToiThieu, 1, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                    <td th:text="${#numbers.formatDecimal(pgg.giaTriGiamToiDa, 1, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                    <td th:text="${pgg.ngayBatDau}"></td>
                    <td th:text="${pgg.ngayKetThuc}"></td>
                    <td>
                        <span class="btn btn-sm bg-sky-50 text-sky-800"
                              th:if="${pgg.trangThai == 1}"
                              th:text="'Đang diễn ra'"></span>
                        <span class="btn btn-sm bg-yellow-50 hover:bg-yellow-100 text-yellow-600"
                              th:if="${pgg.trangThai == 2}"
                              th:text="'Sắp diễn ra'"></span>
                        <span class="btn btn-sm bg-rose-50 hover:bg-orange-100 text-rose-600"
                              th:if="${pgg.trangThai == 3}"
                              th:text="'Đã kết thúc'"></span>
                    </td>
                    <td class="flex items-center justify-center space-x-2">
                        <a th:href="@{/admin/giamgia/detail/{id}(id=${pgg.phieuGiamGiaId})}">
                            <svg aria-hidden="true"
                                 class="w-[18px] h-[18px] text-gray-800 dark:text-white" fill="none" height="24"
                                 viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" stroke="currentColor"
                                      stroke-width="2"/>
                                <path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" stroke="currentColor"
                                      stroke-width="2"/>
                            </svg>
                        </a>
                        <form method="get"
                              th:action="@{/admin/giamgia/{phieuGiamGiaId}/toggle(phieuGiamGiaId=${pgg.phieuGiamGiaId})}"
                              th:if="${pgg.trangThai == 1}">
                            <label class="switcher">
                                <input name="trangThai" onchange="confirmToggle(this)"
                                       th:checked="${pgg.trangThai == 1}" type="checkbox">
                                <span class="switcher-toggle"></span>
                            </label>
                        </form>
                        <form th:if="${pgg.trangThai != 1}">
                            <label class="switcher">
                                <input disabled name="trangThai" type="checkbox">
                                <span class="switcher-toggle"></span>
                            </label>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

<script>
    function confirmToggle(checkbox) {
        var form = checkbox.form;
        var message = "Bạn có chắc chắn muốn kết thúc?";

        // Sử dụng SweetAlert2 để tạo hộp thoại xác nhận
        Swal.fire({
            title: 'Xác nhận',
            text: message,
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Có',
            cancelButtonText: 'Không',
            customClass: {
                confirmButton: 'swal2-confirm',  // Áp dụng lớp tùy chỉnh cho nút "Có"
                cancelButton: 'swal2-cancel'     // Áp dụng lớp tùy chỉnh cho nút "Không"
            },
            buttonsStyling: false // Tắt kiểu mặc định của SweetAlert2
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit(); // Nếu xác nhận, submit form
            } else {
                checkbox.checked = !checkbox.checked; // Hoàn tác thay đổi nếu hủy
            }
        });


    }
    document.addEventListener('DOMContentLoaded', function () {
        var successMessage = "[[${success}]]";
        console.log("Success message:", successMessage); // Debugging line

        if (successMessage !== 'null' && successMessage.trim() !== '') {
            Swal.fire({
                position: 'top-end', // Vị trí của thông báo
                toast: true, // Thiết lập kiểu thông báo là "toast"
                showConfirmButton: false, // Không hiển thị nút xác nhận
                timer: 4000, // Thời gian hiển thị (đơn vị là milliseconds)
                width: '300px', // Đặt chiều rộng của thông báo
                text: successMessage,
                icon: 'success',
                timerProgressBar: true, // Không hiển thị thanh tiến trình
            });
        }
    });
</script>
<style>
    .swal2-confirm, .swal2-cancel {
        width: 120px; /* Chiều rộng bằng nhau cho cả hai nút */
        height: 40px; /* Chiều cao tùy chọn cho nút */
        font-size: 16px; /* Kích thước font của nút */
        line-height: 1.5; /* Đặt khoảng cách dòng cho văn bản */
        text-align: center; /* Căn giữa văn bản */
        border-radius: 10px;
    }

    .swal2-confirm {
        background-color: #28a745; /* Màu xanh cho nút "Có" */
        color: white;
        margin-right: 20px; /* Khoảng cách giữa hai nút */
    }

    .swal2-confirm:hover {
        background-color: #218838; /* Màu xanh đậm hơn khi hover */
    }

    .swal2-cancel {
        background-color: #dc3545; /* Màu đỏ cho nút "Không" */
        color: white;
    }

    .swal2-cancel:hover {
        background-color: #c82333; /* Màu đỏ đậm hơn khi hover */
    }
</style>


