<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div layout:fragment="admincontent">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">
            Phiếu Giảm Giá
        </h2>
    </div>
    <div class="bg-white">
        <div class="flex items-center justify-between border-b border-stroke py-4 px-4">
            <div class="flex flex-wrap items-center gap-4">
                <label class="flex-grow">
                    <input type="text" id="search"
                           class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                           placeholder="Search...">
                </label>
                <div class="flex-shrink-0">
                    <label>
                        <select id="loaiPhieuFilter" name="loaiHoaDon"
                                class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary">
                            <option>Loại Phiếu</option>
                            <option value="Tiền mặt">Tiền mặt</option>
                            <option value="Phần trăm">Phần trăm</option>
                        </select>
                    </label>
                </div>
                <div class="flex-shrink-0">
                    <label>
                        <select id="trangThaiPggFilter" name="trangThai"
                                class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary">
                            <option value="0">Trạng Thái</option>
                            <option value="Đang diễn ra">Đang diễn ra</option>
                            <option value="Sắp diễn ra">Sắp diễn ra</option>
                            <option value="Đã kết thúc">Đã kết thúc</option>
                        </select>
                    </label>
                </div>
                <span class="ml-4">From Date:</span>
                <label class="flex-grow">
                    <input type="date" id="fromDate"
                           class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                           placeholder="From date">
                </label>
                <span>To Date:</span>
                <label class="flex-grow">
                    <input type="date" id="toDate"
                           class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                           placeholder="To date">
                </label>
            </div>
            <div>
                <a th:href="@{/admin/giamgia/form}"
                   class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800">
                    Thêm phiếu giảm giá
                </a>
            </div>
        </div>

        <div id="DataTableAll" class="px-4">
            <table id="data-table-pgg" class="table-default table-hover data-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Mã Giảm Giá</th>
                    <th>Loại Phiếu</th>
                    <th>Giá Trị Giảm</th>
                    <th>Số Lượng</th>
                    <th>Đơn Tối Thiểu</th>
                    <th>Giảm Tối Đa</th>
                    <th>Ngày Bắt Đầu</th>
                    <th>Ngày Kết Thúc</th>
                    <th>Trạng Thái</th>
                    <th>Hành Động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pgg, rowStat : ${phieuGiamGiaList}">
                    <td th:text="${rowStat.index + 1}"></td>
                    <td th:text="${pgg.maGiamGia}"></td>
                    <td>
                        <button th:class="${pgg.loaiPhieu ? 'btn btn-sm bg-orange-50 text-orange-600' : 'btn btn-sm bg-emerald-50 text-emerald-600'}">
                            <span th:text="${pgg.loaiPhieu ? 'Phần trăm' : 'Tiền mặt'}"></span>
                        </button>
                    </td>
                    <td>
                        <span th:if="${pgg.loaiPhieu == false}"
                              th:text="${#numbers.formatDecimal(pgg.giaTriGiam, 1, 'COMMA', 0, 'POINT')} + ' VND'">
                        </span>
                        <span th:if="${pgg.loaiPhieu == true}"
                              th:text="${#numbers.formatDecimal(pgg.giaTriGiam, 1, 'COMMA', 0, 'POINT')} + ' %'">
                        </span>
                    </td>
                    <td th:text="${pgg.soLuongPhieu}"></td>
                    <td th:text="${#numbers.formatDecimal(pgg.giaTriDonToiThieu, 1, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                    <td th:text="${#numbers.formatDecimal(pgg.giaTriGiamToiDa, 1, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                    <td th:text="${pgg.ngayBatDau}"></td>
                    <td th:text="${pgg.ngayKetThuc}"></td>
                    <td>
                        <span th:if="${pgg.trangThai == 1}"
                              class="btn btn-sm bg-sky-50 text-sky-800"
                              th:text="'Đang diễn ra'"></span>
                        <span th:if="${pgg.trangThai == 2}"
                              class="btn btn-sm bg-yellow-50 hover:bg-yellow-100 text-yellow-600"
                              th:text="'Sắp diễn ra'"></span>
                        <span th:if="${pgg.trangThai == 3}"
                              class="btn btn-sm bg-rose-50 hover:bg-orange-100 text-rose-600"
                              th:text="'Đã kết thúc'"></span>
                    </td>
                    <td class="flex items-center justify-center space-x-2">
                        <a th:href="@{/admin/giamgia/detail/{id}(id=${pgg.phieuGiamGiaId})}">
                            <svg class="w-[18px] h-[18px] text-gray-800 dark:text-white"
                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                 height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-width="2"
                                      d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                                <path stroke="currentColor" stroke-width="2"
                                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                            </svg>
                        </a>
                        <form th:if="${pgg.trangThai == 1}"
                              th:action="@{/admin/giamgia/{phieuGiamGiaId}/toggle(phieuGiamGiaId=${pgg.phieuGiamGiaId})}"
                              method="get">
                            <label class="switcher">
                                <input type="checkbox" name="trangThai"
                                       th:checked="${pgg.trangThai == 1}" onchange="this.form.submit()">
                                <span class="switcher-toggle"></span>
                            </label>
                        </form>
                        <form th:if="${pgg.trangThai != 1}">
                            <label class="switcher">
                                <input type="checkbox" name="trangThai" disabled>
                                <span class="switcher-toggle"></span>
                            </label>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
