<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="header border-b border-gray-200 dark:border-gray-700">
    <div class="header-wrapper h-16">
        <div class="header-action header-action-start">
            <div id="side-nav-toggle" class="side-nav-toggle header-action-item header-action-item-hoverable">
                <div class="text-2xl">
                    <svg class="side-nav-toggle-icon-expand" stroke="currentColor" fill="none" stroke-width="0"
                         viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h7"></path>
                    </svg>
                    <svg class="side-nav-toggle-icon-collapsed hidden" stroke="currentColor" fill="none"
                         stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </div>
            </div>
            <div class="side-nav-toggle-mobile header-action-item header-action-item-hoverable" data-bs-toggle="modal"
                 data-bs-target="#mobile-nav-drawer">
                <div class="text-2xl">
                    <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h7"></path>
                    </svg>
                </div>
            </div>
            <div class="header-search header-action-item header-action-item-hoverable text-2xl" data-bs-toggle="modal"
                 data-bs-target="#dialog-search">
                <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
            </div>
        </div>
        <div class="header-action header-action-end">
            <div class="dropdown">
                <div class="dropdown-toggle">
                    <div class="text-2xl header-action-item header-action-item-hoverable">
                        <span class="badge-wrapper">
                            <svg class="w-[24px] h-[24px] text-gray-800 dark:text-white hover:text-orange"
                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="m13 19 3.5-9 3.5 9m-6.125-2h5.25M3 7h7m0 0h2m-2 0c0 1.63-.793 3.926-2.239 5.655M7.5 6.818V5m.261 7.655C6.79 13.82 5.521 14.725 4 15m3.761-2.345L5 10m2.761 2.655L10.2 15"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-toggle">
                    <div class="text-2xl header-action-item header-action-item-hoverable">
                        <span class="badge-wrapper">
                            <svg class="w-[24px] h-[24px] text-gray-800 dark:text-white hover:text-orange"
                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M12 5V3m0 18v-2M7.05 7.05 5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636 16.95 7.05M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-toggle">
                    <div class="text-2xl header-action-item header-action-item-hoverable">
                        <span class="badge-wrapper">
                            <svg class="w-[24px] h-[24px] text-gray-800 dark:text-white hover:text-orange"
                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M12 5.365V3m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175 0 .593 0 1.193-.538 1.193H5.538c-.538 0-.538-.6-.538-1.193 0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.365Zm-8.134 5.368a8.458 8.458 0 0 1 2.252-5.714m14.016 5.714a8.458 8.458 0 0 0-2.252-5.714M8.54 17.901a3.48 3.48 0 0 0 6.92 0H8.54Z"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-toggle">
                    <div class="text-2xl header-action-item header-action-item-hoverable">
                        <span class="badge-wrapper">
                            <svg class="w-[24px] h-[24px] text-gray-800 dark:text-white hover:text-orange"
                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4V4Z"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-toggle" id="user-dropdown" data-bs-toggle="dropdown">
                    <div class="header-action-item flex items-center gap-2">
                        <span class="avatar avatar-circle" data-avatar-size="32"
                              style="width: 32px">
                        <img class="avatar-img avatar-circle" src="/images/client/16.jpg"
                             loading="lazy" alt=""></span>
                    </div>
                </div>
                <ul class="dropdown-menu bottom-end min-w-[240px]">
                    <li class="menu-item menu-item-hoverable mb-1 h-[35px]">
                        <a class="flex gap-2 items-center" href="#">
                            <span class="text-xl opacity-50">
                                <svg stroke="currentColor" fill="none" stroke-width="0"
                                     viewBox="0 0 24 24" height="1em" width="1em"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2"
                                          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                                </svg>
                            </span>
                            <span th:text="${@securityUtils.getPrincipal().username}"></span>
                        </a>
                    </li>
                    <li class="menu-item menu-item-hoverable mb-1 h-[35px]">
                        <a class="flex gap-2 items-center" href="#">
                            <span class="text-xl opacity-50">
                                <svg stroke="currentColor" fill="none" stroke-width="0"
                                     viewBox="0 0 24 24" height="1em" width="1em"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2"
                                          d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2"
                                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg>
                            </span>
                            <span>Account Setting</span>
                        </a>
                    </li>
                    <li class="menu-item menu-item-hoverable mb-1 h-[35px]">
                        <a class="flex gap-2 items-center" href="#">
                            <span class="text-xl opacity-50">
                                <svg stroke="currentColor" fill="none" stroke-width="2"
                                     viewBox="0 0 24 24" stroke-linecap="round"
                                     stroke-linejoin="round" height="1em" width="1em"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <polyline
                                            points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                                </svg>
                            </span>
                            <span>Activity Log</span>
                        </a>
                    </li>
                    <li id="menu-item-29-2VewETdxAb" class="menu-item-divider"></li>
                    <li class="menu-item menu-item-hoverable gap-2 h-[35px]">
                        <a class="flex gap-2 items-center" th:href="@{/logoutAdmin}">
                            <span class="text-xl opacity-50">
                                <svg stroke="currentColor" fill="none" stroke-width="0"
                                     viewBox="0 0 24 24" height="1em" width="1em"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2"
                                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                </svg>
                            </span>
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>