<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/tom-select"></script>
    <title th:text="${spct.sanPhamChiTietId == null} ? 'Thêm Biến Thể Giầy' : 'Cập Nhập Biến Thể Giầy'"></title>
</head>
<body>
<div layout:fragment="admincontent">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white"
            th:text="${spct.sanPhamChiTietId == null} ? 'Thêm Biến Thể Giầy' : 'Cập Nhập Biến Thể Giầy'">
        </h2>
    </div>
    <section class="relative md:py-10 bg-white px-25">
        <div class="grid lg:grid-cols-12 gap-6 w-full">
            <div class="lg:col-span-8">
                <div class="p-6 rounded-md">
                    <form id="bienthegiay-form" th:object="${spct}">
                        <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
                            <input type="hidden" th:field="*{sanPhamChiTietId}"/>
                            <div class="lg:col-span-12">
                                <label class="font-semibold">Tên Giầy:</label>
                                <select th:field="*{sanPham}"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="sp : ${lstSanPham}" th:value="${sp.sanPhamId}"
                                            th:text="${sp.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Kích Thước:</label>
                                <select id="size" multiple
                                        class="form-select form-input mt-2 w-full h-10">
                                    <option th:each="kt : ${lstKichThuoc}" th:value="${kt.kichThuocId}"
                                            th:text="${kt.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6 mb-4">
                                <label class="font-semibold">Màu Sắc:</label>
                                <select id="color" multiple
                                        class="form-select form-input mt-2 w-full h-10">
                                    <option th:each="ms : ${lsMauSac}" th:value="${ms.mauSacId}"
                                            th:text="${ms.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Giá Bán:</label>
                                <input type="text" name="giaBan"
                                       class="form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Số Lượng:</label>
                                <input type="text" name="soLuong"
                                       class="form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                            </div>
                        </div>
                        <div class="mt-10 mb-10 flex justify-center space-x-4">
                            <button type="button" onclick="addToTable()"
                                    class="btn btn-sm bg-sky-50 hover:bg-sky-100 active:bg-sky-200 text-sky-800 mr-2">
                                <span>Tạo biến thể</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <form id="saveForm" method="post" th:action="@{/admin/sanpham/bienthegiay/save}" th:object="${sanPhamChiTietList}">
        <table class="table-default table-hover data-table px-4 mt-6 bg-white">
            <thead>
            <tr>
                <th>#</th>
                <th>Tên Giầy</th>
                <th>Màu Sắc</th>
                <th>Kích Thước</th>
                <th>Giá bán</th>
                <th>Số Lượng</th>
                <th>Image</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
        <div class="mt-10 mb-10 flex justify-center space-x-4">
            <button type="submit" class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800 mr-2">
                Lưu Biến Thể Giầy
            </button>
            <a th:href="@{/admin/sanpham/bienthegiay}" class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800 mr-2">
                Quay lại
            </a>
        </div>
    </form>
    <script>
        const selectColor = new TomSelect('#color', {
            plugins: ['remove_button'],
            create: true,
            placeholder: 'Chọn màu sắc'
        });
        const selectSize = new TomSelect('#size', {
            plugins: ['remove_button'],
            create: true,
            placeholder: 'Chọn kích thước'
        });

        let rowCount = 1;

        function addToTable() {
            const tableBody = document.getElementById('table-body');
            const sanPhamId = document.querySelector('select[name="sanPham"]').value;
            const sanPhamTen = document.querySelector('select[name="sanPham"] option:checked').innerText;
            const selectedSizes = Array.from(document.querySelectorAll('#size option:checked')).map(option => ({
                id: option.value,
                ten: option.innerText
            }));
            const selectedColors = Array.from(document.querySelectorAll('#color option:checked')).map(option => ({
                id: option.value,
                ten: option.innerText
            }));
            const giaBan = document.querySelector('input[name="giaBan"]').value;
            const soLuong = document.querySelector('input[name="soLuong"]').value;

            selectedColors.forEach(color => {
                selectedSizes.forEach(size => {
                    const sanPhamChiTiet = {
                        sanPham: {sanPhamId: sanPhamId, ten: sanPhamTen},
                        kichThuoc: [{kichThuocId: size.id, ten: size.ten}],
                        mauSac: [{mauSacId: color.id, ten: color.ten}],
                        giaBan: giaBan,
                        soLuong: soLuong
                    };
                    appendToTable(sanPhamChiTiet);
                });
            });
        }

        function appendToTable(sanPhamChiTiet) {
            const tableBody = document.getElementById('table-body');
            const row = `<tr>
                   <td>${rowCount}</td>
                   <td>${sanPhamChiTiet.sanPham.ten}</td>
                   <td>${sanPhamChiTiet.mauSac[0].ten}</td>
                   <td>${sanPhamChiTiet.kichThuoc[0].ten}</td>
                   <td><input type="text" name="sanPhamChiTietList[${rowCount - 1}].giaBan" value="${sanPhamChiTiet.giaBan}" class="form-input w-12 py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0"></td>
                   <td><input type="text" name="sanPhamChiTietList[${rowCount - 1}].soLuong" value="${sanPhamChiTiet.soLuong}" class="form-input w-12 py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0"></td>
                   <td>
                   </td>
               </tr>`;
            tableBody.innerHTML += row;
            rowCount++;
        }

    </script>
</div>
</body>
</html>
