<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/tom-select"></script>
    <title>Thêm Biến Thể Giầy></title>
</head>
<body>
<div layout:fragment="admincontent">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">
            Thêm Biến Thể Giầy
        </h2>
    </div>
    <section class="relative md:py-10 bg-white px-25">
        <div class="grid lg:grid-cols-12 gap-6 w-full">
            <div class="lg:col-span-8">
                <div class="p-6 rounded-md">
                    <form id="bienthegiay-form" th:object="${spct}">
                        <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
                            <input type="hidden" th:field="*{sanPhamChiTietId}"/>
                            <div class="lg:col-span-12">
                                <label class="font-semibold">Tên Giầy:</label>
                                <select th:field="*{sanPham}"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="sp : ${lstSanPham}" th:value="${sp.sanPhamId}"
                                            th:text="${sp.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Kích Thước:</label>
                                <select id="size" multiple
                                        class="form-select form-input mt-2 w-full h-10">
                                    <option th:each="kt : ${lstKichThuoc}" th:value="${kt.kichThuocId}"
                                            th:text="${kt.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6 mb-4">
                                <label class="font-semibold">Màu Sắc:</label>
                                <select id="color" multiple
                                        class="form-select form-input mt-2 w-full h-10">
                                    <option th:each="ms : ${lsMauSac}" th:value="${ms.mauSacId}"
                                            th:text="${ms.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Giá Bán:</label>
                                <input type="text" name="giaBan"
                                       class="form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Số Lượng:</label>
                                <input type="text" name="soLuong"
                                       class="form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-medium block text-gray-700">Trạng Thái</label>
                                <div class="mt-1 flex items-center space-x-4 px-3 py-2 border border-gray-300 rounded-md shadow-sm">
                                    <label class="inline-flex items-center">
                                        <input type="radio" th:field="*{trangThai}" value="false"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Hoạt Động</span>
                                    </label>
                                    <label class="inline-flex items-center ml-4"
                                           th:if="${spct.sanPhamChiTietId} != null">
                                        <input type="radio" th:field="*{trangThai}" value="true"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Ngừng Hoạt Động</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-10 mb-10 flex justify-center space-x-4">
                            <button type="button" onclick="addToTable()"
                                    class="btn btn-sm bg-sky-50 hover:bg-sky-100 active:bg-sky-200 text-sky-800 mr-2">
                                <span>Tạo biến thể</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <form id="saveForm" method="post" th:action="@{/admin/sanpham/bienthegiay/save}"
          th:object="${sanPhamChiTietResponse}">
        <table class="table-default table-hover data-table px-4 mt-6 bg-white">
            <thead>
            <tr>
                <th>#</th>
                <th>Tên giầy</th>
                <th>Màu sắc</th>
                <th>Kích thước</th>
                <th>Giá bán</th>
                <th>Số lượng</th>
                <th>Hình ảnh</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
        <div class="mt-10 mb-10 flex justify-center space-x-4">
            <button type="submit" class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800 mr-2">
                Lưu Biến Thể Giầy
            </button>
            <a th:href="@{/admin/sanpham/bienthegiay}" class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800 mr-2">
                Quay lại
            </a>
        </div>
    </form>
    <script>
        document.getElementById('saveForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của form submit

            const tableBody = document.getElementById('table-body');
            const rows = tableBody.querySelectorAll('tr');

            const sanPhamChiTietList = Array.from(rows).map((row, index) => {
                const sanPhamId = row.querySelector(`input[name="sanPhamChiTietList[${index}].sanPham.sanPhamId"]`).value;
                const kichThuocId = row.querySelector(`input[name="sanPhamChiTietList[${index}].kichThuoc.kichThuocId"]`).value;
                const mauSacId = row.querySelector(`input[name="sanPhamChiTietList[${index}].mauSac.mauSacId"]`).value;
                const giaBan = row.querySelector(`input[name="sanPhamChiTietList[${index}].giaBan"]`).value;
                const soLuong = row.querySelector(`input[name="sanPhamChiTietList[${index}].soLuong"]`).value;

                return {
                    sanPham: {sanPhamId: sanPhamId},
                    kichThuoc: {kichThuocId: kichThuocId},
                    mauSac: {mauSacId: mauSacId},
                    giaBan: giaBan,
                    soLuong: soLuong
                };
            });

            console.log('San Pham Chi Tiet List:', sanPhamChiTietList);

            // Gọi API lưu data
            saveSanPhamChiTiet(sanPhamChiTietList);

            setTimeout(function() {
                window.location.href = '/admin/sanpham/bienthegiay';
            }, 300);
        });

        const selectColor = new TomSelect('#color', {
            plugins: ['remove_button'],
            create: true,
            placeholder: 'Chọn màu sắc'
        });
        const selectSize = new TomSelect('#size', {
            plugins: ['remove_button'],
            create: true,
            placeholder: 'Chọn kích thước'
        });

        let rowCount = 1;

        function addToTable() {
            const tableBody = document.getElementById('table-body');
            const sanPhamId = document.querySelector('select[name="sanPham"]').value;
            const sanPhamTen = document.querySelector('select[name="sanPham"] option:checked').innerText;
            const selectedSizes = Array.from(document.querySelectorAll('#size option:checked')).map(option => ({
                id: option.value,
                ten: option.innerText
            }));
            const selectedColors = Array.from(document.querySelectorAll('#color option:checked')).map(option => ({
                id: option.value,
                ten: option.innerText
            }));
            const giaBan = document.querySelector('input[name="giaBan"]').value;
            const soLuong = document.querySelector('input[name="soLuong"]').value;

            console.log('San Pham ID:', sanPhamId);
            console.log('San Pham Ten:', sanPhamTen);
            console.log('Selected Sizes:', selectedSizes);
            console.log('Selected Colors:', selectedColors);
            console.log('Gia Ban:', giaBan);
            console.log('So Luong:', soLuong);

            const sanPhamChiTietList = [];

            selectedColors.forEach(color => {
                selectedSizes.forEach(size => {
                    const sanPhamChiTiet = {
                        sanPham: {sanPhamId: sanPhamId, ten: sanPhamTen},
                        kichThuoc: {kichThuocId: size.id, ten: size.ten},
                        mauSac: {mauSacId: color.id, ten: color.ten},
                        giaBan: giaBan,
                        soLuong: soLuong,
                    };
                    sanPhamChiTietList.push(sanPhamChiTiet);
                    appendToTable(sanPhamChiTiet);
                });
            });
        }

        function appendToTable(sanPhamChiTiet) {
            const tableBody = document.getElementById('table-body');
            const row = `<tr>
               <td>${rowCount}</td>
               <td>${sanPhamChiTiet.sanPham.ten}</td>
               <td>${sanPhamChiTiet.mauSac.ten}</td>
               <td>${sanPhamChiTiet.kichThuoc.ten}</td>
               <td><input type="text" name="sanPhamChiTietList[${rowCount - 1}].giaBan" value="${sanPhamChiTiet.giaBan}" class="form-input w-12 py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0"></td>
               <td><input type="text" name="sanPhamChiTietList[${rowCount - 1}].soLuong" value="${sanPhamChiTiet.soLuong}" class="form-input w-12 py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0"></td>
               <input type="hidden" name="sanPhamChiTietList[${rowCount - 1}].sanPham.sanPhamId" value="${sanPhamChiTiet.sanPham.sanPhamId}">
               <input type="hidden" name="sanPhamChiTietList[${rowCount - 1}].kichThuoc.kichThuocId" value="${sanPhamChiTiet.kichThuoc.kichThuocId}">
               <input type="hidden" name="sanPhamChiTietList[${rowCount - 1}].mauSac.mauSacId" value="${sanPhamChiTiet.mauSac.mauSacId}">
               <td><input type="file" name=""></td>
           </tr>`;
            tableBody.innerHTML += row;
            rowCount++;
        }

        function saveSanPhamChiTiet(sanPhamChiTietList) {
            fetch('http://localhost:8080/sanphamchitiet/bienthegiay/save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({sanPhamChiTietList})
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>

</div>
</body>
</html>
