<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0/dist/sweetalert2.min.js"></script>

    <title>Cập Nhập Biến Thế Giầy</title>
    <style>
        .image-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .image-container div {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .image-container img {
            width: 45px;
            height: 55px;
        }
        .image-container button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div layout:fragment="admincontent">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">
            Cập Nhập Biến Thế Giầy
        </h2>
    </div>
    <section class="relative md:py-10 bg-white px-25">
        <div class="grid lg:grid-cols-12 gap-6 w-full">
            <div class="lg:col-span-8">
                <div class="p-6 rounded-md">
                    <form id="updateForm" th:action="@{/admin/sanpham/bienthegiay/save-update}" th:object="${spct}" method="post" enctype="multipart/form-data">
                        <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
                            <input id="sanPhamChiTietId" type="hidden" th:field="*{sanPhamChiTietId}"/>
                            <input type="hidden" th:field="*{barCode}"/>
                            <input type="hidden" name="imageId" value="" />
                            <div class="lg:col-span-12">
                                <label class="font-semibold">Hình Ảnh</label>
                                <div class="image-container">
                                    <div th:each="imageDTO : ${imageDTOs}" class="image-item">
                                        <img th:src="'data:image/png;base64,' + ${imageDTO.dataImg}" alt="Ảnh từ Base64"/>
                                        <button type="button" th:onclick="'removeImage(this, ' + ${imageDTO.id} + ')'">Xóa</button>
                                        <input type="hidden" name="existingImageIds" th:value="${imageDTO.id}" />
                                    </div>
                                </div>
                                <input type="file" id="imageUpload" name="image" accept="image/*" multiple onchange="handleFiles(this)">
                                <input type="hidden" id="imageChanged" name="imageChanged" value="false" />
                            </div>
                            <div class="lg:col-span-12">
                                <label class="font-semibold">Tên Giầy</label>
                                <select id="sanPhamSelect" th:field="*{sanPham}"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="sp : ${lstSanPham}" th:value="${sp.sanPhamId}"
                                            th:text="${sp.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Kích Thước</label>
                                <select id="kichThuocSelect" th:field="*{kichThuoc}"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="kt : ${lstKichThuoc}" th:value="${kt.kichThuocId}"
                                            th:text="${kt.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6 mb-4">
                                <label class="font-semibold">Màu Sắc</label>
                                <select id="mauSacSelect" th:field="*{mauSac}"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="ms : ${lsMauSac}" th:value="${ms.mauSacId}"
                                            th:text="${ms.ten}"></option>
                                </select>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Giá Bán</label>
                                <input type="text" th:field="*{giaBan}"
                                       class="form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0"
                                       oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 36)">
                            </div>
                            <div class="lg:col-span-6">
                                <label class="font-semibold">Số Lượng</label>
                                <input type="text" th:field="*{soLuong}"
                                       class="form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-medium block text-gray-700">Trạng Thái</label>
                                <div class="mt-1 flex items-center space-x-4 px-3 py-2 border border-gray-300 rounded-md shadow-sm">
                                    <label class="inline-flex items-center">
                                        <input type="radio" th:field="*{trangThai}" value="true"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Đang Hoạt Động</span>
                                    </label>
                                    <label class="inline-flex items-center ml-4"
                                           th:if="${spct.sanPhamChiTietId} != null">
                                        <input type="radio" th:field="*{trangThai}" value="false"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Ngừng Hoạt Động</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-10 mb-10 flex justify-center space-x-4">
                            <a th:href="@{/admin/sanpham/bienthegiay}"
                               class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800 mr-2">
                                Quay lại
                            </a>
                            <button type="submit" id="submitButton"
                                    class="btn btn-sm bg-sky-50 hover:bg-sky-100 active:bg-sky-200 text-sky-800 mr-2">
                                <span th:text="${spct.sanPhamChiTietId == null} ? 'Thêm Mới' : 'Cập Nhập'"></span>
                            </button>
                            <a th:href="@{/admin/sanpham/bienthegiay/form}"
                               class="btn btn-sm bg-orange-50 hover:bg-orange-100 active:bg-orange-200 text-orange-600">
                                Xóa
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const imageUpload = document.getElementById('imageUpload');
            const imageChanged = document.getElementById('imageChanged');
            const imageContainer = document.querySelector('.image-container');

            function loadExistingImages() {
                const imageItems = imageContainer.querySelectorAll('.image-item');
                if (imageItems.length > 0) {
                    imageChanged.value = "false";
                }
            }

            loadExistingImages();

            imageUpload.addEventListener('change', function(event) {
                imageChanged.value = "true";
                const files = event.target.files;

                imageContainer.innerHTML = '';

                Array.from(files).forEach(file => {
                    const validImageTypes = ['image/jpeg', 'image/png', 'image/gif', 'image/png'];
                    if (!validImageTypes.includes(file.type)) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi',
                            text: 'Vui lòng chọn tệp hình ảnh hợp lệ',
                        });
                        return;
                    }
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        const imgElement = document.createElement('img');
                        imgElement.src = e.target.result;
                        imgElement.style.width = '45px';
                        imgElement.style.height = '55px';

                        const imageWrapper = document.createElement('div');
                        imageWrapper.style.position = 'relative';
                        imageWrapper.style.display = 'flex';
                        imageWrapper.style.flexDirection = 'column';
                        imageWrapper.style.alignItems = 'center';

                        const removeButton = document.createElement('button');
                        removeButton.textContent = 'Xóa';
                        removeButton.onclick = function() {
                            imageWrapper.remove();
                        };

                        imageWrapper.appendChild(imgElement);
                        imageWrapper.appendChild(removeButton);
                        imageContainer.appendChild(imageWrapper);
                    };
                    reader.readAsDataURL(file);
                });
            });
        });

        function removeImage(button, imageId) {
            const imageItem = button.closest('.image-item');
            if (imageItem) {
                imageItem.remove();
            }

            let deletedImages = document.getElementById('deletedImages');
            if (!deletedImages) {
                deletedImages = document.createElement('input');
                deletedImages.type = 'hidden';
                deletedImages.id = 'deletedImages';
                deletedImages.name = 'deletedImageIds';
                document.getElementById('updateForm').appendChild(deletedImages);
            }

            if (deletedImages.value) {
                deletedImages.value += ',' + imageId;
            } else {
                deletedImages.value = imageId;
            }
        }

        function checkDuplicateAndSubmit() {
            const imageUpload = document.getElementById('imageUpload');
            const imageFiles = imageUpload.files;

            if (imageFiles.length === 0 && document.querySelectorAll('.image-item').length === 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Vui lòng chọn ít nhất một ảnh!',
                });
                return;
            }

            const giaBan = $('input[name="giaBan"]').val().trim();
            const soLuong = $('input[name="soLuong"]').val().trim();

            if (!giaBan || isNaN(giaBan) || parseFloat(giaBan) < 1000) {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Giá bán tối thiểu từ 1000!',
                });
                return;
            }


            if (!soLuong || isNaN(soLuong) || parseInt(soLuong) < 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Số lượng không được trống!',
                });
                return;
            }

            const sanPhamId = $('#sanPhamSelect').val();
            const kichThuocId = $('#kichThuocSelect').val();
            const mauSacId = $('#mauSacSelect').val();
            const sanPhamChiTietId = $('#sanPhamChiTietId').val();

            Swal.fire({
                title: 'Bạn có chắc chắn muốn cập nhật?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Đồng ý',
                cancelButtonText: 'Hủy bỏ'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/check/update-spct',
                        type: 'GET',
                        data: {
                            sanPhamId: sanPhamId,
                            kichThuocId: kichThuocId,
                            mauSacId: mauSacId,
                            sanPhamChiTietId: sanPhamChiTietId
                        },
                        success: function(response) {
                            if (response) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi',
                                    text: 'Sản phẩm này đã tồn tại. Không thể cập nhật!',
                                });
                            } else {
                                $('#updateForm').submit();
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thành công',
                                    text: "Cập nhật thành công"
                                });
                            }
                        },
                        error: function(error) {
                            console.error('Error checking duplicate:', error);
                        }
                    });
                }
            });
        }

        $(document).ready(function() {
            $('#submitButton').on('click', function(event) {
                event.preventDefault();
                checkDuplicateAndSubmit();
            });
        });
    </script>
</div>
</body>
</html>
