<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Biến Thể Giầy</title>
</head>
<body>
<div layout:fragment="admincontent">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">
            Biến Thể Giầy
        </h2>
    </div>
    <div class="bg-white">
        <div class="flex items-center justify-between border-b border-stroke py-4 px-4">
            <div class="flex flex-wrap items-center gap-4">
                <label class="flex-grow">
                    <input type="text" id="search"
                           class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                           placeholder="Search...">
                </label>
                <div class="flex-shrink-0">
                    <label>
                        <select id="trangThaiSpctFilter" name="trangThai"
                                class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary">
                            <option value="">Trạng Thái</option>
                            <option value="Đang Hoạt Động">Đang Hoạt Động</option>
                            <option value="Ngừng Hoạt Động">Ngừng Hoạt Động</option>
                        </select>
                    </label>
                </div>
                <div class="sticky">
                    <label>
                        <select id="kichThuocFilter" name="kichThuoc"
                                class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary">
                            <option value="">Kích thước</option>
                            <option th:each="kichThuoc : ${kichThuoc}"
                                    th:value="${kichThuoc.ten}" th:text="${kichThuoc.ten}">
                            </option>
                        </select>
                    </label>
                </div>
                <div class="sticky">
                    <label>
                        <select id="mauSacFilter" name="mauSac"
                                class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary">
                            <option value="">Màu sắc</option>
                            <option th:each="mauSac : ${mauSac}"
                                    th:value="${mauSac.ten}" th:text="${mauSac.ten}">
                            </option>
                        </select>
                    </label>
                </div>
                <div class="sticky">
                    <label class="flex-grow">
                        <input type="number" id="minPrice"
                               class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                               placeholder="Giá bán từ:">
                    </label>
                </div>
                <div class="sticky">
                    <label class="flex-grow">
                        <input type="number" id="maxPrice"
                               class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                               placeholder="Đến:">
                    </label>
                </div>
            </div>
            <div>
                <a th:href="@{/admin/sanpham/bienthegiay/form}"
                   class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800">
                    Thêm Biến Thể Giầy
                </a>
            </div>
        </div>
        <div id="DataTableAll" class="px-4 py-4">
            <table id="data-table-sp" class="table-default table-hover data-table ">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Hình ảnh</th>
                    <th>Sản phẩm</th>
                    <th>Bar code</th>
                    <th>Giá bán</th>
                    <th>Số lượng</th>
                    <th>Kích thước</th>
                    <th>Màu sắc</th>
                    <th>Trạng Thái</th>
                    <th>Hành Động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sp, rowStat : ${sanPhamChiTietList}">
                    <td th:text="${rowStat.index + 1}"></td>
                    <td>
                        <img th:src="'data:image/png;base64,' + ${sp.dataImg}" alt="Ảnh từ Base64"
                             style="width: 45px; height: 55px; margin-left: 30px"/>
                    </td>
                    <td th:text="${sp.sanPhamChiTiet.sanPham.ten}"></td>
                    <td th:text="${sp.sanPhamChiTiet.barCode}"></td>
                    <td th:text="${sp.sanPhamChiTiet.giaBan}"></td>
                    <td th:text="${sp.sanPhamChiTiet.soLuong}"></td>
                    <td th:text="${sp.sanPhamChiTiet.kichThuoc.ten}"></td>
                    <td th:text="${sp.sanPhamChiTiet.mauSac.ten}"></td>
                    <td>
                        <button th:class="${sp.sanPhamChiTiet.trangThai ? 'btn btn-sm bg-orange-50 text-orange-600' : 'btn btn-sm bg-emerald-50 text-emerald-600'}">
                            <span th:text="${sp.sanPhamChiTiet.trangThai ? 'Ngừng Hoạt Động' : 'Đang Hoạt Động'}"></span>
                        </button>
                    </td>
                    <td class="flex items-center justify-center space-x-2">
                        <form th:action="@{/admin/sanpham/bienthegiay/update/{id}(id=${sp.sanPhamChiTiet.sanPhamChiTietId})}"
                              method="post">
                            <label class="switcher">
                                <input type="checkbox" name="trangThai"
                                       th:checked="${!sp.sanPhamChiTiet.trangThai}" onchange="this.form.submit()">
                                <span class="switcher-toggle"></span>
                            </label>
                        </form>
                        <a th:href="@{/admin/sanpham/bienthegiay/detail/{id}(id=${sp.sanPhamChiTiet.sanPhamChiTietId})}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6">
                                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z"></path>
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>