<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="admincontent">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white"
            th:text="${khachHang.khachHangId == null} ? 'Thêm Khách Hàng' : 'Cập Nhập Khách Hàng'">
        </h2>
    </div>
    <section class="relative md:py-10 bg-white px-25">
        <div class="grid lg:grid-cols-12 gap-6 w-full">
            <div class="lg:col-span-8">
                <div class="p-6 rounded-md">
                    <form th:action="@{/admin/taikhoan/khachhang/save}" th:object="${khachHang}" method="post">
                        <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
                            <input type="hidden" th:field="*{khachHangId}"/>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Tên Khách Hàng: </label>
                                <input type="text" th:field="*{hoTen}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Tên Nhân Viên">
                            </div>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Số Điện Thoại:</label>
                                <input type="text" th:field="*{sdt}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Số Điện Thoại">
                            </div>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Email: </label>
                                <input type="email" th:field="*{email}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Email">
                            </div>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Ngày Sinh: </label>
                                <input type="date" th:field="*{ngaySinh}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Ngày Sinh">
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-medium block text-gray-700">Giới tính</label>
                                <div class="mt-1 flex items-center space-x-4 px-3 py-2 border border-gray-300 rounded-md shadow-sm">
                                    <label class="inline-flex items-center">
                                        <input type="radio" th:field="*{gioiTinh}" value="false"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Nữ</span>
                                    </label>
                                    <label class="inline-flex items-center  ml-4">
                                        <input type="radio" th:field="*{gioiTinh}" value="true"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Nam</span>
                                    </label>
                                </div>
                            </div>
                            <div class="lg:col-span-4">
                                <label class="font-semibold">Thành Phố:</label>
                                <select id="province" th:onchange="|loadDistricts('${provinces}')|"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option th:each="province : ${provinces}"
                                            th:value="${province.provinceId}"
                                            th:text="${province.provinceName}">
                                    </option>
                                </select>
                            </div>
                            <div class="lg:col-span-4">
                                <label class="font-semibold">Huyện:</label>
                                <select id="district"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-100 focus:ring-0">
                                    <option value="">Chọn huyện</option>
                                </select>
                            </div>
                            <div class="lg:col-span-4">
                                <label class="font-semibold">Xã:</label>
                                <select id="ward"
                                        class="form-select form-input mt-2 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0">
                                    <option value="">Chọn xã</option>
                                </select>
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-semibold">Địa Chỉ: </label>
                                <input type="text"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Địa Chỉ">
                            </div>
                        </div>
                        <div class="mt-10 mb-10 flex justify-center space-x-4">
                            <a th:href="@{/admin/taikhoan/khachhang}"
                               class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800 mr-2">
                                Quay lại
                            </a>
                            <button type="submit"
                                    class="btn btn-sm bg-sky-50 hover:bg-sky-100 active:bg-sky-200 text-sky-800 mr-2">
                                <span th:text="${khachHang.khachHangId == null} ? 'Thêm Mới' : 'Cập Nhập'"></span>
                            </button>
                            <a th:href="@{/admin/taikhoan/khachhang/form}"
                               class="btn btn-sm bg-orange-50 hover:bg-orange-100 active:bg-orange-200 text-orange-600">
                                Xóa
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
