<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" href="/images/logo_xboy.png" type="image/png">

    <script>
        $(document).ready(function () {
            function getProvinces() {
                $.ajax({
                    url: 'https://online-gateway.ghn.vn/shiip/public-api/master-data/province',
                    type: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Token': 'c00660e2-2e4f-11ef-8f55-4ee3d82283af'
                    },
                    success: function (response) {
                        if (response.code === 200) {
                            $("#province").append('<option value="">Chọn Thành Phố</option>');
                            $.each(response.data, function (key, value) {
                                $("#province").append('<option value="' + value.ProvinceID + '">' + value.ProvinceName + '</option>');
                            });
                        } else {
                            console.error('Error fetching provinces:', response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX error:', status, error);
                        console.error('Response text:', xhr.responseText);
                    }
                });
            }

            function getDistricts(provinceId) {
                $.ajax({
                    url: 'https://online-gateway.ghn.vn/shiip/public-api/master-data/district?province_id=' + provinceId,
                    type: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Token': 'c00660e2-2e4f-11ef-8f55-4ee3d82283af'
                    },
                    success: function (response) {
                        if (response.code === 200) {
                            $("#district").html('<option value="">Chọn Huyện</option>');
                            $("#ward").html('<option value="">Chọn Xã</option>');
                            $.each(response.data, function (key, value) {
                                $("#district").append('<option value="' + value.DistrictID + '">' + value.DistrictName + '</option>');
                            });
                        } else {
                            console.error('Error fetching districts:', response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX error:', status, error);
                        console.error('Response text:', xhr.responseText);
                    }
                });
            }

            function getWards(districtId) {
                $.ajax({
                    url: 'https://online-gateway.ghn.vn/shiip/public-api/master-data/ward?district_id=' + districtId,
                    type: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Token': 'c00660e2-2e4f-11ef-8f55-4ee3d82283af'
                    },
                    success: function (response) {
                        if (response.code === 200) {
                            $("#ward").html('<option value="">Chọn Xã</option>');
                            $.each(response.data, function (key, value) {
                                $("#ward").append('<option value="' + value.WardCode + '">' + value.WardName + '</option>');
                            });
                        } else {
                            console.error('Error fetching wards:', response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX error:', status, error);
                        console.error('Response text:', xhr.responseText);
                    }
                });
            }

            getProvinces();

            $("#province").on('change', function () {
                const provinceId = $(this).val();
                const provinceName = $("#province option:selected").text();
                if (provinceId) {
                    getDistricts(provinceId);
                    $("#provinceName").val(provinceName);
                } else {
                    $("#district").html('<option value="">Chọn Huyện</option>');
                    $("#ward").html('<option value="">Chọn Xã</option>');
                    $("#provinceName").val('');
                }
            });

            $("#district").on('change', function () {
                const districtId = $(this).val();
                const districtName = $("#district option:selected").text();
                if (districtId) {
                    getWards(districtId);
                    $("#districtName").val(districtName);
                } else {
                    $("#ward").html('<option value="">Chọn Xã</option>');
                    $("#districtName").val('');
                }
            });

            $("#ward").on('change', function () {
                const wardId = $(this).val();
                const wardName = $("#ward option:selected").text();
                $("#wardName").val(wardName);
            });

        });
    </script>




    <style>
        label.error {
            color: red; /* Màu chữ lỗi */
        }
    </style>
</head>
<body>
<div layout:fragment="admincontent">
    <div class="mb-6 flex justify-between text-center gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h3 class="text-title-md2 font-semibold text-black dark:text-white"
            th:text="${khachHang.khachHangId == null} ? 'Thêm Khách Hàng' : 'Chi Tiết Khách Hàng'">
        </h3>
        <div class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800">
            <a th:href="@{/admin/taikhoan/khachhang}" class="custom-button">Quay lại</a>
        </div>
    </div>
    <section class="relative md:py-10 bg-white px-25 rounded-md">
        <div class="grid lg:grid-cols-12 gap-6 w-full">
            <div class="lg:col-span-8 mb-10">
                <div class="p-6 rounded-md">
                    <form th:action="@{/admin/taikhoan/khachhang/save}" th:object="${khachHang}"
                           method="post" id="khachHangForm">
                        <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
                            <input type="hidden" th:field="*{khachHangId}"/>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Tên Khách Hàng: </label>
                                <input type="text" th:field="*{hoTen}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Tên Khách Hàng">
                                <div th:if="${#fields.hasErrors('hoTen')}" class="text-red-500 text-sm mt-1">
                                    <p th:errors="*{hoTen}"></p>
                                </div>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Số Điện Thoại:</label>
                                <input type="text" th:field="*{sdt}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Số Điện Thoại">
                                <div th:if="${#fields.hasErrors('sdt')}" class="text-red-500 text-sm mt-1">
                                    <p th:errors="*{sdt}"></p>
                                </div>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Email: </label>
                                <input type="email" th:field="*{email}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Email">
                                <div th:if="${#fields.hasErrors('email')}" class="text-red-500 text-sm mt-1">
                                    <p th:errors="*{email}"></p>
                                </div>
                            </div>
                            <div class="lg:col-span-6">
                                <label class="form-label font-semibold">Ngày Sinh: </label>
                                <input type="date" th:field="*{ngaySinh}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Ngày Sinh">
                                <div th:if="${#fields.hasErrors('ngaySinh')}" class="text-red-500 text-sm mt-1">
                                    <p th:errors="*{ngaySinh}"></p>
                                </div>
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-medium block text-gray-700">Giới tính</label>
                                <div class="mt-1 flex items-center space-x-4 px-3 py-2 border border-gray-300 rounded-md shadow-sm">
                                    <label class="inline-flex items-center">
                                        <input type="radio" th:field="*{gioiTinh}" value="false"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Nữ</span>
                                    </label>
                                    <label class="inline-flex items-center  ml-4">
                                        <input type="radio" th:field="*{gioiTinh}" value="true"
                                               class="form-radio text-indigo-600 focus:ring-indigo-500 focus:border-indigo-500"/>
                                        <span class="ml-2">Nam</span>
                                    </label>
                                </div>
                            </div>
                            <div class="lg:col-span-4">
                                <label class="font-semibold">Thành Phố:</label>
                                <select id="province" name="diaChiList[0].thanhPho"
                                        class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2">
                                    <option value="">Tỉnh Thành</option>
                                </select>
                            </div>
                            <div class="lg:col-span-4">
                                <label class="font-semibold">Huyện:</label>
                                <select id="district" name="diaChiList[0].huyen"
                                        class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2">
                                    <option value="">Quận Huyện</option>
                                </select>
                            </div>
                            <div class="lg:col-span-4">
                                <label class="font-semibold">Xã:</label>
                                <select id="ward" name="diaChiList[0].xa"
                                        class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2">
                                    <option value="">Phường Xã</option>
                                </select>
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-semibold">Địa Chỉ: </label>
                                <input type="text" th:field="*{diaChiList[0].diaChi}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Địa Chỉ">
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-semibold">Tên Người Nhận: </label>
                                <input type="text" th:field="*{diaChiList[0].ten}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Tên Người Nhận">
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-semibold">Email: </label>
                                <input type="text" name="diaChiList[0].email"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Email người nhận">
                            </div>
                            <div class="lg:col-span-12">
                                <label class="form-label font-semibold">Số điện thoại người nhận: </label>
                                <input type="text" th:field="*{diaChiList[0].sdt}"
                                       class="w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0 mt-2"
                                       placeholder="Số điện thoại người nhận">
                            </div>
                            <div class="lg:col-span-12 mt-4 flex items-center justify-center space-x-2">
                                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md" onclick="confirmSubmit()">Lưu</button>
                                <a href="#" class="bg-red-50 text-red-600 px-4 py-2 rounded-md">Hủy</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>



<style>
    .swal2-confirm, .swal2-cancel {
        width: 120px; /* Chiều rộng bằng nhau cho cả hai nút */
        height: 40px; /* Chiều cao tùy chọn cho nút */
        font-size: 16px; /* Kích thước font của nút */
        line-height: 1.5; /* Đặt khoảng cách dòng cho văn bản */
        text-align: center; /* Căn giữa văn bản */
        border-radius: 10px;
    }

    .swal2-confirm {
        background-color: #28a745; /* Màu xanh cho nút "Có" */
        color: white;
        margin-right: 20px; /* Khoảng cách giữa hai nút */
    }

    .swal2-confirm:hover {
        background-color: #218838; /* Màu xanh đậm hơn khi hover */
    }

    .swal2-cancel {
        background-color: #dc3545; /* Màu đỏ cho nút "Không" */
        color: white;
    }

    .swal2-cancel:hover {
        background-color: #c82333; /* Màu đỏ đậm hơn khi hover */
    }
</style>



<!-- Include SweetAlert2 and jQuery Validation libraries -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>

<script>
    $(document).ready(function () {
        // Custom methods for validation
        $.validator.addMethod("noLeadingTrailingSpaces", function(value, element) {
            return this.optional(element) || /^[^\s].*[^\s]$/.test(value);
        }, "No leading or trailing spaces allowed.");

        $.validator.addMethod("noConsecutiveSpaces", function(value, element) {
            return this.optional(element) || !/\s{2,}/.test(value);
        }, "No consecutive spaces allowed.");

        $.validator.addMethod("exactLength", function(value, element, param) {
            return this.optional(element) || value.length === param;
        }, "Please enter exactly {0} characters.");

        $.validator.addMethod("noNumbers", function(value, element) {
            return this.optional(element) || !/\d/.test(value);
        }, "Name cannot contain numbers.");

       $.validator.addMethod("noSpecialChars", function(value, element) {
    // Biểu thức chính quy cho phép chữ cái, số, khoảng trắng và các ký tự tiếng Việt cơ bản
    return this.optional(element) || /^[\p{L}\p{N}\s]+$/u.test(value);
}, "No special characters allowed.");


 $.validator.addMethod("notFutureDate", function(value, element) {
            // Get the current date
            var today = new Date();
            var inputDate = new Date(value);

            // Ensure the input date is not in the future
            return this.optional(element) || inputDate <= today;
        }, "Ngày sinh không được là ngày trong tương lai.");

        // Initialize form validation
        $("#khachHangForm").validate({
            rules: {
                hoTen: {
                    required: true,
                    noLeadingTrailingSpaces: true,
                    noConsecutiveSpaces: true,
                    maxlength: 50,
                    noNumbers: true,
                    noSpecialChars: true // Apply the noSpecialChars validation rule
                },
                sdt: {
                    required: true,
                    digits: true,
                    minlength: 10,
                    maxlength: 11,
                    exactLength: 10,
                    noSpecialChars: true // Apply the noSpecialChars validation rule
                },
                email: {
                    required: true,
                    email: true,
                    noLeadingTrailingSpaces: true,
                    noConsecutiveSpaces: true,
                    maxlength: 50
                },
                ngaySinh: {
                    required: true,
                    dateISO: true,
                    notFutureDate: true
                },
                // Validate required fields for diaChiList[0]
                'diaChiList[0].diaChi': {
                    required: true,
                    noLeadingTrailingSpaces: true,
                    noConsecutiveSpaces: true,
                    maxlength: 50

                },
                'diaChiList[0].ten': {
                    required: true,
                    noLeadingTrailingSpaces: true,
                    noConsecutiveSpaces: true,
                    maxlength: 50,
                     noSpecialChars: true // Apply the noSpecialChars validation rule
                },
                'diaChiList[0].email': {
                    required: true,
                    email: true,
                    noLeadingTrailingSpaces: true,
                    noConsecutiveSpaces: true,
                    maxlength: 50
                },
                'diaChiList[0].sdt': {
                    required: true,
                    digits: true,
                    minlength: 10,
                    maxlength: 11
                },
                'diaChiList[0].thanhPho': {
                    required: true
                },
                'diaChiList[0].huyen': {
                    required: true
                },
                'diaChiList[0].xa': {
                    required: true
                }
            },
            messages: {
                hoTen: {
                    required: "Vui lòng nhập tên khách hàng",
                    noLeadingTrailingSpaces: "Tên khách hàng không được có khoảng trắng ở đầu hoặc cuối",
                    noConsecutiveSpaces: "Tên khách hàng không được có khoảng trắng liên tiếp",
                    maxlength: "Tên khách hàng không được quá 50 ký tự",
                    noNumbers: "Tên khách hàng không được chứa số",
                    noSpecialChars: "Tên khách hàng không được chứa ký tự đặc biệt"
                },
                sdt: {
                    required: "Vui lòng nhập số điện thoại",
                    digits: "Số điện thoại phải chỉ chứa số",
                    minlength: "Số điện thoại phải có từ 10 đến 11 ký tự",
                    maxlength: "Số điện thoại phải có từ 10 đến 11 ký tự",
                    noSpecialChars: "Số điện thoại không được chứa ký tự đặc biệt"
                },
                email: {
                    required: "Vui lòng nhập email",
                    email: "Email không hợp lệ",
                    noLeadingTrailingSpaces: "Email không được có khoảng trắng ở đầu hoặc cuối",
                    noConsecutiveSpaces: "Email không được có khoảng trắng liên tiếp",
                    maxlength: "Email không được quá 50 ký tự"
                },
                ngaySinh: {
                    required: "Vui lòng chọn ngày sinh",
                    dateISO: "Ngày sinh không hợp lệ",
                      notFutureDate: "Ngày sinh không được là ngày trong tương lai."
                },
                'diaChiList[0].diaChi': {
                    required: "Vui lòng nhập địa chỉ",
                    noLeadingTrailingSpaces: "Địa chỉ không được có khoảng trắng ở đầu hoặc cuối",
                    noConsecutiveSpaces: "Địa chỉ không được có khoảng trắng liên tiếp",
                    maxlength: "Địa chỉ không được quá 50 ký tự"

                },
                'diaChiList[0].ten': {
                    required: "Vui lòng nhập tên người nhận",
                    noLeadingTrailingSpaces: "Tên người nhận không được có khoảng trắng ở đầu hoặc cuối",
                    noConsecutiveSpaces: "Tên người nhận không được có khoảng trắng liên tiếp",
                    maxlength: "Tên người nhận không được quá 50 ký tự",
                      noSpecialChars: "Tên khách hàng không được chứa ký tự đặc biệt"
                },
                'diaChiList[0].email': {
                    required: "Vui lòng nhập email người nhận",
                    email: "Email người nhận không hợp lệ",
                    noLeadingTrailingSpaces: "Email người nhận không được có khoảng trắng ở đầu hoặc cuối",
                    noConsecutiveSpaces: "Email người nhận không được có khoảng trắng liên tiếp",
                    maxlength: "Email người nhận không được quá 50 ký tự"
                },
                'diaChiList[0].sdt': {
                    required: "Vui lòng nhập số điện thoại người nhận",
                    digits: "Số điện thoại người nhận chỉ chứa số",
                    minlength: "Số điện thoại người nhận phải có từ 10 đến 11 ký tự",
                    maxlength: "Số điện thoại người nhận phải có từ 10 đến 11 ký tự"
                },
                'diaChiList[0].thanhPho': {
                    required: "Vui lòng chọn thành phố"
                },
                'diaChiList[0].huyen': {
                    required: "Vui lòng chọn huyện"
                },
                'diaChiList[0].xa': {
                    required: "Vui lòng chọn xã"
                }
            },
            errorPlacement: function (error, element) {
                // Place error message below the input field
                error.insertAfter(element);
            }
        });

        // Intercept the form submission
        $("#khachHangForm").on('submit', function(e) {
            e.preventDefault(); // Prevent default form submission
            confirmSubmit(); // Call confirmSubmit function
        });
    });

    function confirmSubmit() {
        Swal.fire({
            title: 'Xác nhận hành động',
            text: `Bạn có chắc chắn muốn thêm khách hàng mới?`,
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Có',
            cancelButtonText: 'Không',
            customClass: {
                confirmButton: 'swal2-confirm',
                cancelButton: 'swal2-cancel'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                // Check if the form is valid
                if ($("#khachHangForm").valid()) {
                    // Submit the form if it's valid
                    $("#khachHangForm")[0].submit();
                }
            }
        });
    }
</script>

