<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Khách Hàng</title>
</head>
<body>
<div layout:fragment="admincontent">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">
            Khách Hàng
        </h2>
    </div>
    <div class="bg-white">
        <div class="flex items-center justify-between border-b border-stroke py-4 px-4">
            <div class="flex flex-wrap items-center gap-4">
                <label class="flex-grow">
                    <input type="text" id="search"
                           class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                           placeholder="Search...">
                </label>
                <div class="flex-shrink-0">
                    <label>
                        <select id="gioiTinhAccFilter" name="loaiHoaDon"
                                class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary">
                            <option>Giới Tính</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </label>
                </div>
                <div class="flex-shrink-0">
                    <label>
                        <select id="trangThaiAccFilter" name="trangThai"
                                class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary">
                            <option value="0">Trạng Thái</option>
                            <option value="Ngừng hoạt động">Ngừng hoạt động</option>
                            <option value="Đang Hoạt Động">Đang Hoạt Động</option>
                        </select>
                    </label>
                </div>
                <span class="ml-4">From Date:</span>
                <label class="flex-grow">
                    <input type="date" id="fromDate"
                           class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                           placeholder="From date">
                </label>
                <span>To Date:</span>
                <label class="flex-grow">
                    <input type="date" id="toDate"
                           class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                           placeholder="To date">
                </label>
            </div>
            <div class="space-x-2">
                <a th:href="@{/admin/taikhoan/khachhang/form}"
                   class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800">
                    Thêm khách hàng
                </a>
                <a th:href="@{/api/export/khachhang}"
                   class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800">
                    Xuất Excel
                </a>
            </div>
        </div>

        <div id="DataTableAll" class="px-4">
            <table id="data-table-account" class="table-default table-hover data-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Tên Khách Hàng</th>
                    <th>Email</th>
                    <th>Số Điện Thoại</th>
                    <th>Ngày Sinh</th>
                    <th>Giới Tính</th>
                    <th>Trạng Thái</th>
                    <th>Hành Động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="kh, rowStat : ${khachHangList}">
                    <td th:text="${rowStat.index + 1}"></td>
                    <td th:text="${kh.hoTen}"></td>
                    <td th:text="${kh.email}"></td>
                    <td th:text="${kh.sdt}"></td>
                    <td th:text="${kh.ngaySinh}"></td>
                    <td>
                        <button th:class="${kh.gioiTinh ? 'btn btn-sm bg-orange-50 text-orange-600' : 'btn btn-sm bg-emerald-50 text-emerald-600'}">
                            <span th:text="${kh.gioiTinh ? 'Nam' : 'Nữ'}"></span>
                        </button>
                    </td>
                    <td>
                        <button th:class="${kh.trangThai ? 'btn btn-sm bg-orange-50 text-orange-600' : 'btn btn-sm bg-emerald-50 text-emerald-600'}">
                            <span th:text="${kh.trangThai ? 'Ngừng hoạt động' : 'Đang Hoạt Động'}"></span>
                        </button>
                    </td>
                    <td class="flex items-center justify-center space-x-2">
                        <form th:action="@{/admin/taikhoan/khachhang/{khachHangId}/toggle(khachHangId=${kh.khachHangId})}"
                              method="get" onsubmit="return confirmToggle()">
                            <label class="switcher">
                                <input type="checkbox" name="trangThai"
                                       th:checked="${!kh.trangThai}" onchange="this.form.submit()">
                                <span class="switcher-toggle"></span>
                            </label>
                        </form>
                        <a th:href="@{/admin/taikhoan/khachhang/update/{id}(id=${kh.khachHangId})}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6">
                                <path fill-rule="evenodd" d="M20.599 1.5c-.376 0-.743.111-1.055.32l-5.08 3.385a18.747 18.747 0 00-3.471 2.987 10.04 10.04 0 014.815 4.815 18.748 18.748 0 002.987-3.472l3.386-5.079A1.902 1.902 0 0020.599 1.5zm-8.3 14.025a18.76 18.76 0 001.896-1.207 8.026 8.026 0 00-4.513-4.513A18.75 18.75 0 008.475 11.7l-.278.5a5.26 5.26 0 013.601 3.602l.502-.278zM6.75 13.5A3.75 3.75 0 003 17.25a1.5 1.5 0 01-1.601 1.497.75.75 0 00-.7 1.123 5.25 5.25 0 009.8-2.62 3.75 3.75 0 00-3.75-3.75z" clip-rule="evenodd"></path>
                            </svg>
                        </a>
                        <a th:href="@{/admin/taikhoan/khachhang/detail/{id}(id=${kh.khachHangId})}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6">
                                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z"></path>
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

