<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/includes/content/user/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/admin/vendors.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const notificationTypeHtml = {
            Add: `<div class="toast fade" id="notificationToastSuccess">
                        <div class="notification">
                            <div class="notification-content">
                                <div class="mr-3">
                                    <span class="text-2xl text-emerald-400">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="mr-4">
                                    <div class="notification-title">Success</div>
                                    <div class="notification-description">
                                        Thêm sản phẩm thành công.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`,
            StepUp: `<div class="toast fade" id="notificationToastSuccess">
                        <div class="notification">
                            <div class="notification-content">
                                <div class="mr-3">
                                    <span class="text-2xl text-emerald-400">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="mr-4">
                                    <div class="notification-title">Success</div>
                                    <div class="notification-description">
                                        Tăng số lượng sản phẩm thành công.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`,
            StepDown: `<div class="toast fade" id="notificationToastSuccess">
                        <div class="notification">
                            <div class="notification-content">
                                <div class="mr-3">
                                    <span class="text-2xl text-emerald-400">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="mr-4">
                                    <div class="notification-title">Success</div>
                                    <div class="notification-description">
                                        Giảm số lượng sản phẩm thành công.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`,
            Delete: `<div class="toast fade" id="notificationToastSuccess">
                        <div class="notification">
                            <div class="notification-content">
                                <div class="mr-3">
                                    <span class="text-2xl text-emerald-400">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="mr-4">
                                    <div class="notification-title">Success</div>
                                    <div class="notification-description">
                                        Xóa sản phẩm thành công.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`,
        };

        function handleNotificationType(type) {
            $('#notification-toast').append(notificationTypeHtml[type])
            $('#notification-toast .toast:last-child').toast('show');
            setTimeout(function(){
                $('#notification-toast .toast:first-child').remove();
            }, 5000);
        }

        $(document).ready(function () {
            const add = JSON.parse([[${add}]]);
            if (add) {
                handleNotificationType('Add');
            }
        });

        $(document).ready(function () {
            const stepup = JSON.parse([[${stepup}]]);
            if (stepup) {
                handleNotificationType('StepUp');
            }
        });

        $(document).ready(function () {
            const stepdown = JSON.parse([[${stepdown}]]);
            if (stepdown) {
                handleNotificationType('StepDown');
            }
        });

        $(document).ready(function () {
            const deletes = JSON.parse([[${deletes}]]);
            if (deletes) {
                handleNotificationType('Delete');
            }
        });
    </script>
</head>
<body>
    <div layout:fragment="content">
        <div class="container mx-auto relative overflow-x-auto shadow dark:shadow-gray-800 rounded-md">
            <div id="notification-toast" aria-live="polite" aria-atomic="true" class="position-relative"></div>
            <div class="xl:flex gap-4">
                <div class="w-full">
                    <div class="card adaptable-card">
                        <div class="card-body flex items-center justify-between">
                            <h3>
                                <span class="text-lg font-semibold">Chỉnh Sửa Hóa Đơn</span>
                                <span class="ltr:ml-2 rtl:mr-2 ml-2 text-lg font-semibold" th:text="${hoaDon.maVanDon}"></span>
                            </h3>
                            <div class="flex justify-end space-x-2">
                                <a class="btn btn-sm bg-sky-50 hover:bg-sky-100 active:bg-sky-200 text-sky-800 mr-2"
                                   th:href="@{/user/invoice/detail/{id}(id=${hoaDon.hoaDonId})}" type="submit">
                                    Quay lại
                                </a>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#dialogSize"
                                        class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800 mr-2">
                                    Thêm sản phẩm
                                </button>
                                <div class="modal fade" id="dialogSize" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog dialog md:max-w-[960px]">
                                        <div class="dialog-content">
                                            <label>
                                                <input type="text" id="search"
                                                       class="w-full rounded border border-stroke bg-gray-2 py-2.5 pl-5 pr-10 text-sm outline-none focus:border-primary"
                                                       placeholder="Search...">
                                            </label>
                                            <div id="DataTableCart">
                                                <table id="data-table-cart" class="table-default table-hover data-table">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Tên sản phẩm</th>
                                                        <th>Màu sắc</th>
                                                        <th>Kích thước</th>
                                                        <th>Giá</th>
                                                        <th>Hành động</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="spct, rowStat : ${sanPhamChiTietList}">
                                                        <td th:text="${rowStat.index + 1}"></td>
                                                        <td th:text="${spct.getSanPham().getTen()}"></td>
                                                        <td th:text="${spct.getMauSac().getTen()}"></td>
                                                        <td th:text="${spct.getKichThuoc().getTen()}"></td>
                                                        <td th:text="${#numbers.formatDecimal(spct.getGiaBan(), 1, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                                                        <td>
                                                            <form th:action="@{/user/invoice/update}" method="post">
                                                                <input type="hidden" name="idHoaDon"
                                                                       th:value="${hoaDon.hoaDonId}"/>
                                                                <input type="hidden" name="idSanPhamChiTiet"
                                                                       th:value="${spct.getSanPhamChiTietId()}"/>
                                                                <button type="submit"
                                                                        class="btn btn-sm btn-select-product bg-sky-50 hover:bg-sky-100 text-sky-800">
                                                                    Chọn
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="overflow-x-auto">
                                <table id="selected-products-table" class="table-default table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Màu sắc</th>
                                        <th>Kích thước</th>
                                        <th>Giá</th>
                                        <th>Số Lượng</th>
                                        <th>Tổng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="hdct : ${hoaDon.hoaDonChiTietList}">
                                        <td>
                                            <button type="button" data-bs-target="#xacnhan"
                                                    class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center bg-red-600/5 hover:bg-red-600 text-red-600 hover:text-white rounded-full"
                                                    th:attr="data-bs-toggle=${hoaDon.hoaDonChiTietList.size() >= 2 ? 'modal' : ''}">
                                                <i data-feather="trash-2" class="h-4 w-4"></i>
                                            </button>
                                            <div class="modal fade" id="xacnhan" data-bs-backdrop="static"
                                                 data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                                                <div class="modal-dialog dialog">
                                                    <div class="dialog-confirm bg-white p-6 rounded-lg shadow-lg">
                                                        <form th:action="@{/user/invoice/delete}" method="post">
                                                            <h4 class="mb-4 text-center text-blue-600">Bạn chắc chắn muốn xóa sản phẩm này</h4>
                                                            <input type="hidden" name="hoaDonId"
                                                                   th:value="${hoaDon.hoaDonId}"/>
                                                            <input type="hidden" name="hoaDonChiTietId"
                                                                   th:value="${hdct.hoaDonChiTietId}"/>
                                                            <div class="text-right mt-6 flex justify-center">
                                                                <button type="button" data-bs-dismiss="modal"
                                                                        class="btn btn-sm bg-rose-50 hover:bg-orange-100 text-rose-600 mr-2">
                                                                    Cancel
                                                                </button>
                                                                <button type="submit" data-bs-dismiss="modal"
                                                                        class="btn btn-sm bg-sky-50 hover:bg-sky-100 text-sky-800">
                                                                    Okay
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex items-center">
                                            <span class="avatar avatar-rounded avatar-lg" data-avatar-size="90">
                                                <img class="avatar-img avatar-rounded" src="img/products/product-2.jpg"
                                                     loading="lazy">
                                            </span>
                                                <div class="ml-4 text-center">
                                                    <h6 th:text="${hdct.sanPhamChiTiet.sanPham.ten}"></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td th:text="${hdct.sanPhamChiTiet.mauSac.ten}"></td>
                                        <td th:text="${hdct.sanPhamChiTiet.kichThuoc.ten}"></td>
                                        <td>
                                            <span th:text="${#numbers.formatDecimal(hdct.sanPhamChiTiet.giaBan, 1, 'COMMA', 0, 'POINT')}"></span>
                                            VNĐ
                                        </td>
                                        <td>
                                            <div class="inline-flex items-center justify-center space-x-2">
                                                <form th:action="@{/user/invoice/update/stepdown}" method="post">
                                                    <input type="hidden" name="hoaDonId"
                                                           th:value="${hoaDon.hoaDonId}"/>
                                                    <input type="hidden" name="hoaDonChiTietId"
                                                           th:value="${hdct.hoaDonChiTietId}"/>
                                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                            class="size-9 tracking-wide align-middle text-base text-center rounded-md bg-orange-500/5 hover:bg-orange-500 text-orange-500 hover:text-white minus">
                                                        -
                                                    </button>
                                                </form>
                                                <input min="0" name="quantity" th:value="${hdct.getSoLuong()}" type="number"
                                                       class="h-9 inline-flex items-center justify-center tracking-wide align-middle text-base text-center rounded-md bg-orange-500/5 hover:bg-orange-500 text-orange-500 hover:text-white pointer-events-none w-16 ps-4 quantity">
                                                <form th:action="@{/user/invoice/update/stepup}" method="post">
                                                    <input type="hidden" name="hoaDonId"
                                                           th:value="${hoaDon.hoaDonId}"/>
                                                    <input type="hidden" name="hoaDonChiTietId"
                                                           th:value="${hdct.hoaDonChiTietId}"/>
                                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                            class="size-9 tracking-wide align-middle text-base text-center rounded-md bg-orange-500/5 hover:bg-orange-500 text-orange-500 hover:text-white minus">
                                                        +
                                                    </button>
                                                </form>
                                            </div>

                                        </td>
                                        <td>
                                            <span th:text="${#numbers.formatDecimal(hdct.soLuong * hdct.sanPhamChiTiet.giaBan, 1, 'COMMA', 0, 'POINT')}"></span>
                                            VNĐ
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td class="!border-t-0" colspan="5"></td>
                                        <td class="font-semibold !border-t-0">Tạm Tính</td>
                                        <td class="!py-5 !border-t-0">
                                            <span th:text="${#numbers.formatDecimal(#aggregates.sum(hoaDon.hoaDonChiTietList.![soLuong * sanPhamChiTiet.giaBan]), 1, 'COMMA', 0, 'POINT')}"></span>
                                            VNĐ
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="!border-t-0" colspan="5"></td>
                                        <td class="font-semibold !border-t-0">Phí ship</td>
                                        <td class="!py-5 !border-t-0">
                                            <span th:text="${hoaDon.phiShip != null ? #numbers.formatDecimal(hoaDon.phiShip, 1, 'COMMA', 0, 'POINT') + ' VNĐ' : '0 VNĐ'}"></span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="!border-t-0" colspan="5"></td>
                                        <td class="font-semibold !border-t-0">Tiền giảm</td>
                                        <td class="!py-5 !border-t-0">
                                            <span th:text="${hoaDon.tienGiam != null ? #numbers.formatDecimal(hoaDon.tienGiam, 1, 'COMMA', 0, 'POINT') + ' VNĐ' : '0 VNĐ'}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="!border-t-0" colspan="5"></td>
                                        <td class="font-semibold text-base">Tổng tiền</td>
                                        <td class="font-semibold text-base !py-5">
                                            <span th:text="${#numbers.formatDecimal(hoaDon.tongTien, 1, 'COMMA', 0, 'POINT')}"></span>
                                            VNĐ
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>